@import './custom/rules';

._auth {
    height: 100vh;
    // background: transparent linear-gradient(180deg, var(--unnamed-color-020f11) 0%, var(--unnamed-color-7971f5) 100%) 0% 0% no-repeat padding-box;
    // background: transparent linear-gradient(180deg, #020F11 0%, #7971F5 100%) 0% 0% no-repeat padding-box;
    // opacity: 1;
    background-color: black;

    & p {
        line-height: 1.2 !important;
    }

    & ._logo {
        display: flex;
        justify-content: center;
        padding-top: $s40-d;
        padding-bottom: 4.17vw;

        & img {
            width: 9.11vw;
        }
    }

    & .shapes {
        & .shape1 {
            position: fixed;
            left: -12vw;
            bottom: -1.8vw;
            height: 100%;
            object-fit: cover;
        }

        & .shape2 {
            position: fixed;
            right: -8vw;
            top: -22.4vw;
            object-fit: cover;
            z-index: 0;
        }
    }

    & form {
        width: 100%;
        margin: 0 auto;

        & .form-wrapper {
            width: 100%;
        }
    }

    & section {
        width: 21.56vw;
        margin: 0 auto;
    }
}