<div class="a-container flex justify-center">
    <div class="xl:flex justify-between w-full max-w-[1408px] mb-32">
        <div class="w-full max-w-[832px] mr-3 2xl:mr-0">
            <div class="flex justify-between items-center mb-8">
                <h4 class="font-gelica text-[32px] leading-[38px]">Adresse de facturation</h4>
                <a href="#" class="flex items-center text-base"><i class="icon icon-arrow-left mr-3 inline-block text-sm"></i>Continuer mes achats</a>
            </div>
            <div class="rounded-[24px] border border-white px-[86px] py-12">
                <form action="#" method="post">
                    <fieldset class="mb-8 last-of-type:mb-0">
                        <legend class="font-gelica font-light text-2xl leading-7 mb-6">Mes informations</legend>
                        <div class="mb-4">
                            <div class="relative">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Nom de la société (optionnel)"
                                        type="text"
                                        name="company-name"
                                        id="company-name"
                                />
                                <label for="company-name" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    Nom de la société (optionnel)
                                </label>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-between mb-4">
                            <div class="relative w-full mb-4 last-of-type:mb-0 xl:w-[calc(50%-8px)]">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Nom de la société (optionnel)"
                                        type="text"
                                        name="first-name"
                                        id="first-name"
                                />
                                <label for="first-name" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    Nom
                                </label>
                            </div>
                            <div class="relative w-full mb-4 last-of-type:mb-0 xl:w-[calc(50%-8px)]">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Nom de la société (optionnel)"
                                        type="text"
                                        name="last-name"
                                        id="last-name"
                                />
                                <label for="last-name" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    prénom
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="mb-8 last-of-type:mb-0">
                        <legend class="font-gelica font-light text-2xl leading-7 mb-6">Mes coordonnées</legend>
                        <div class="mb-4">
                            <div class="relative">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Adresse"
                                        type="text"
                                        name="adresse"
                                        id="adresse"
                                />
                                <label for="adresse" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    Adresse
                                </label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="relative">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Complément d’adresse (optionnel)"
                                        type="text"
                                        name="complement-d-adresse"
                                        id="complement-d-adresse"
                                />
                                <label for="complement-d-adresse" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    Complément d’adresse (optionnel)
                                </label>
                            </div>
                        </div>
                        <div class="flex justify-between mb-4">
                            <div class="relative xl:w-[267px]">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Code postale"
                                        type="text"
                                        name="code-postale"
                                        id="code-postale"
                                />
                                <label for="code-postale" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    Code postale
                                </label>
                            </div>
                            <div class="relative xl:w-[calc(100%-283px)]">
                                <input
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        placeholder="Ville"
                                        type="text"
                                        name="ville"
                                        id="ville"
                                />
                                <label for="ville" class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    Ville
                                </label>
                            </div>
                        </div>
                        <div class="flex justify-between mb-4">
                            <div class="w-[80px]">
                                <div class="select select--for-input">
                                    <div class="label" data-value="fr"><img class="w-[19px]" src="./images/france-flag.svg" alt="fr"></div>
                                    <i class="icon icon-chevron-bottom"></i>
                                    <div class="select__options">
                                        <ul>
                                            <li class="js-country mb-2 last-of-type:mb-0" data-value="fr"><img class="w-[19px]" src="./images/france-flag.svg" alt="fr"></li>
                                            <li class="js-country mb-2 last-of-type:mb-0" data-value="uk"><img class="w-[19px]" src="./images/uk-flag.svg" alt="uk"></li>
                                            <li class="js-country mb-2 last-of-type:mb-0" data-value="usa"><img class="w-[19px]" src="./images/usa-flag.svg" alt="use"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="relative w-[calc(100%-80px)] flex">
                                <input
                                        type="text"
                                        id="phone-input"
                                        class="peer placeholder-transparent h-[55px] px-4 pt-[23px] pb-[9px] inline-block bg-transparent w-full border border-white text-white opacity-100 rounded-r-2xl focus:outline-none placeholder-shown:opacity-80 focus:opacity-100"
                                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                        placeholder="06 12 34 56 78 (optionnel)"
                                >
                                <label for="phone-input"
                                       class="opacity-60  top-2 absolute left-4 text-white peer-placeholder-shown:text-[18px] transition-all peer-placeholder-shown:top-3.5 peer-focus:top-2 peer-focus:text-xs peer-[:not(:placeholder-shown)]:text-xs">
                                    06 12 34 56 78 (optionnel)
                                </label>
                            </div>
                        </div>
                        <div class="flex justify-end">
                            <input type="submit" value="Aller vers le paiement" class="btn btn--primary w-full max-w-[464px] cursor-pointer">
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="w-full max-w-[512px]">
            <div class="flex justify-between items-center mb-8">
                <h4 class="font-gelica text-[32px] leading-[38px]">Mon panier</h4>
            </div>
            <div class="rounded-[24px] border border-white p-6 mb-4 last-of-type:mb-0">
                <div class="flex justify-start">
                    <a href="#" class="img-with-mask img-with-mask--xs mr-6">
                        <img class="w-full" src="./images/8-formateur_result.webp" alt="8-formateur_result">
                    </a>
                    <div class="w-[calc(100%-132px)] flex justify-between items-start">
                        <div class=" py-2">
                            <h6 class="font-gelica font-light text-lg leading-[22px] mb-2"><a href="#">Analyste en cybersécurité</a></h6>
                            <p class="text-sm leading-[18px] mb-3"><span>2 jan - 27 fév ·</span> Cours en Français</p>
                            <p class="font-semibold text-lg leading-[23px]">14 500 €</p>
                        </div>
                        <a href="#" class="h-[32px] w-[32px] rounded-lg flex items-center justify-center border border-[#FFFFFF4D] duration-200 hover:text-black hover:bg-white  hover:border-white">
                            <i class="icon icon-poubelle text-[12px]"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rounded-[24px] border border-white p-6 mb-4 last-of-type:mb-0">
                <div class="flex justify-start">
                    <a href="#" class="img-with-mask img-with-mask--xs mr-6">
                        <img class="w-full" src="./images/4-formateur_result.webp" alt="8-formateur_result">
                    </a>
                    <div class="w-[calc(100%-132px)] flex justify-between items-start">
                        <div class=" py-2">
                            <h6 class="font-gelica font-light text-lg leading-[22px] mb-2"><a href="#">ReactJs</a></h6>
                            <p class="text-sm leading-[18px] mb-3"><span>2 jan - 27 fév ·</span> Cours en Français</p>
                            <p class="font-semibold text-lg leading-[23px]">6 400 €</p>
                        </div>
                        <a href="#" class="h-[32px] w-[32px] rounded-lg flex items-center justify-center border border-[#FFFFFF4D] duration-200 hover:text-black hover:bg-white  hover:border-white">
                            <i class="icon icon-poubelle text-[12px]"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rounded-[24px] border-2 border-corn-flower p-6 mb-6">
                <div class="h-full flex flex-col justify-between">
                    <div class="flex justify-between">
                        <p class="text-2xl">TOTAL (TTC)</p>
                        <p class="text-2xl font-bold">20 900 €</p>
                    </div>
                </div>
            </div>
            <a href="#" class="text-[17px] leading-6">+ Ajouter un code promo</a>
        </div>
    </div>
</div>