<div class="a-container flex justify-center">
    <div class="xl:flex justify-between w-full max-w-[1408px] mb-32">
        <div class="w-full max-w-[832px] mr-3 2xl:mr-0">
            <div class="flex justify-between items-center mb-8">
                <h4 class="font-gelica text-[32px] leading-[38px]">Mon panier</h4>
                <a href="#" class="flex items-center text-base"><i class="icon icon-arrow-left mr-3 inline-block text-sm"></i>Continuer mes achats</a>
            </div>
            <div class="rounded-[24px] border border-white p-6 mb-4 last-of-type:mb-0">
                <div class="flex justify-start">
                    <a href="#" class="img-with-mask img-with-mask--sm mr-6">
                        <img class="w-full" src="./images/8-formateur_result.webp" alt="8-formateur_result">
                    </a>
                    <div class="w-[calc(100%-179px)] flex justify-between items-start">
                        <div class=" py-4">
                            <h6 class="font-gelica text-2xl leading-7 mb-2"><a href="#">Analyste en cybersécurité</a></h6>
                            <p class="text-base mb-4"><span>2 jan - 27 fév ·</span> Cours en Français</p>
                            <p class="font-bold text-2xl leading-8">14 500 €</p>
                        </div>
                        <a href="#" class="h-[32px] w-[32px] rounded-lg flex items-center justify-center border border-[#FFFFFF4D] duration-200 hover:text-black hover:bg-white  hover:border-white">
                            <i class="icon icon-poubelle text-[12px]"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rounded-[24px] border border-white p-6 mb-4 last-of-type:mb-0">
                <div class="flex justify-start">
                    <a href="#" class="img-with-mask img-with-mask--sm mr-6">
                        <img class="w-full" src="./images/4-formateur_result.webp" alt="8-formateur_result">
                    </a>
                    <div class="w-[calc(100%-179px)] flex justify-between items-start">
                        <div class=" py-4">
                            <h6 class="font-gelica text-2xl leading-7 mb-2"><a href="#">ReactJs</a></h6>
                            <p class="text-base mb-4"><span>2 jan - 27 fév ·</span> Cours en Français</p>
                            <p class="font-bold text-2xl leading-8">6 400 €</p>
                        </div>
                        <a href="#" class="h-[32px] w-[32px] rounded-lg flex items-center justify-center border border-[#FFFFFF4D] duration-200 hover:text-black hover:bg-white  hover:border-white">
                            <i class="icon icon-poubelle text-[12px]"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full max-w-[512px]">
            <div class="flex justify-between items-center mb-8">
                <h4 class="font-gelica text-[32px] leading-[38px]">Total</h4>
            </div>
            <div class="h-[183px] rounded-[24px] border-2 border-corn-flower p-6">
                <div class="h-full flex flex-col justify-between">
                    <div class="flex justify-between">
                        <p class="text-2xl">TOTAL (TTC)</p>
                        <p class="text-2xl font-bold">20 900 €</p>
                    </div>
                    <a href="#" class="btn btn--primary"><i class="icon icon-panier text-[19px] inline-block mr-3"></i>Valider mon panier</a>
                </div>
            </div>
        </div>
    </div>
</div>