<!-- toggle class : hidden -->
<div class="fixed top-0 left-0 h-screen w-screen z-50 bg-black bg-opacity-60 lg:pt-[138px] flex justify-center">
    <div class="relative w-full max-w-[847px] h-full lg:h-fit lg:rounded-[40px] lg:border lg:border-white bg-black flex justify-center items-center relative p-8 lg:p-[75px]">
        <div class="inline-flex flex-col justify-center items-center text-center">
            <img class="h-[51px] mb-8" src="./images/panier-valider.svg" alt="panier-valider">
            <p class="font-gelica font-light text-[32px] leading-[48px] mb-4">Merci pour votre achat !</p>
            <p class="text-2xl opacity-80 mb-12">Votre formation est désormais accessible dans votre compte</p>
            <a href="#" class="btn btn--primary max-w-full w-[464px] flex justify-center mb-4">Continuer mes achats sur aideprojet</a>
            <a href="#" class="btn btn--transparent max-w-full w-[464px] flex justify-center">Aller dans mon compte</a>
        </div>
        <a href="#" class="absolute top-[32px] right-[32px] h-[32px] w-[32px] rounded-lg flex items-center justify-center border border-white duration-200 hover:text-black hover:bg-white  hover:border-white">
            <i class="icon icon-close text-[12px]"></i>
        </a>
    </div>
</div>