<div class="a-container">
    <h4 class="font-gelica text-[32px] leading-[38px] mb-6">Vous pourrais aussi aimer</h4>
    <div class="w-full flex flex-wrap justify-start ">
        <div class="article mb-6 mr-6 last-of-type:mr-0">
            <div class="article__img-wrapper">
                <div class="article__img">
                    <img src="./images/2-formateur_result.webp" alt="image">

                </div>
                <div class="date">
                    <span class="date__day">3 Fév</span>
                    <span class="data_period">24 jours · 48h</span>
                </div>
            </div>
            <h5 class="article__title">
                <a href="#">HTML5/CSS</a>
            </h5>
        </div>
        <div class="article mb-6 mr-6 last-of-type:mr-0">
            <div class="article__img-wrapper">
                <a href="#" class="article__img">
                    <img src="./images/4-formateur_result.webp" alt="image">
                </a>
                <div class="date">
                    <span class="date__day">19 Déc</span>
                    <span class="data_period">10 jours · 20h</span>
                </div>
            </div>
            <h5 class="article__title">
                <a href="#">
                    Wordpress
                </a>
            </h5>
        </div>
        <div class="article mb-6 mr-6 last-of-type:mr-0">
            <div class="article__img-wrapper">
                <a href="#" class="article__img">
                    <img src="./images/9-formateur_result.webp" alt="image">
                </a>
                <div class="date">
                    <span class="date__day">2 Jan</span>
                    <span class="data_period">24 jours · 48h</span>
                </div>
            </div>
            <h5 class="article__title">
                <a href="#">ReactJs</a>
            </h5>
        </div>
        <div class="article mb-6 mr-6 last-of-type:mr-0">
            <div class="article__img-wrapper">
                <a href="#" class="article__img">
                    <img src="./images/2-formateur_result.webp" alt="image">

                </a>
                <div class="date">
                    <span class="date__day">3 Fév</span>
                    <span class="data_period">24 jours · 48h</span>
                </div>
            </div>
            <h5 class="article__title">
                <a href="#">HTML5/CSS</a>
            </h5>
        </div>
    </div>
</div>