<section class="a-container flex flex-wrap justify-between pt-[30px] lg:pt-[45px] ">
    <h4 class="font-gelica text-[40px] lg:text-[80px] leading-[40px] lg:leading-[95px] w-full lg:w-1/2 mb-4 lg:mb-0">
        Aideprojet <span class="text-mindaro">Academy</span>
        <span class="inline-block w-full text-[24px] lg:text-[48px] leading-[30px] lg:leading-[56px]">dédié aux métier du web</span>
    </h4>
    <div class=" lg:py-[25px] mr-10" style="width: 583px; height: 96px;">
        <p class="text-2xl lg:text-[24px] leading-[32px] lg:leading-[32px] mb-6 lg:mb-6">
            Acquérez des compétences de qualité en digital grâce à nos cours en live dispensés par des experts mondialement reconnus.
        </p>
        <a class="btn btn--mindaro btn--with-icon" href="#">Trouver un cours <i class="icon icon-arrow-right"></i></a>
    </div>
    <div class="w-full mt-10 lg:mt-16 relative">
        <picture class="hidden lg:block">
            <img class="w-full max-w-full" src="./images/homme-formateur-wordpress.png" alt="femme" />
        </picture>
        <div class="lg:absolute lg:top-[10%] lg:right-[8%]">
            <div class="relative inline-block">
                <img class="w-full" src="./images/forme-formation-a-venir.svg" alt="forme-formation-a-venir">
                <div class="absolute top-[50px] right-[63px] text-right">
                    <h5 class="font-gelica font-light text-[30px] lg:text-[52px] leading-[44px] lg:leading-[85px] mb-2">Wordpress</h5>
                    <p class="text-xl">Prochaine disponibilté</p>
                    <p class="font-bold text-xl text-mindaro">15 Sept</p>
                </div>
                <a class="absolute bottom-[43px] left-[53px] flex items-end text-mindaro" href="#">Découvrir le cours <i class="icon icon-arrow-right text-base ml-3"></i></a>
            </div>
        </div>
    </div>
</section>