<section class="a-container mb-[56px] lg:mb-[140px]">
    <h4 class="font-gelica text-3xl lg:text-[40px] leading-[40px] lg:leading-[57px] w-full mb-2">
        Pour aller plus loin
    </h4>
    <p class="text-[34px] lg:text-[34px] leading-6 lg:leading-10 Degular-regular opacity-60">Découvrez nos autres formations dans ce domaine !</p>
    <div class="mx-[-20px] w-[calc(100%+40px)] lg:w-full lg:mx-0 relative">
        <img class="hidden lg:inline-block absolute z-0 top-[116px] left-0 w-full px-[38.5px]"
             src="./images/forme-aller-plus_loin-formations.svg" alt="formations-desktiop-bg">
        <!--Tabs navigation-->
        <div class="a-slider a-slider--default no-mx mt-8 lg:mt-0 xl:mb-12">
            <!-- Additional required wrapper -->
            <div class="slider-container">
                <!-- Slides -->
                <div class="slide">
                    <div class="article">
                        <div class="article__img-wrapper">
                            <a href="#" class="article__img">
                                <div class="relative">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </div>
                                <div class="absolute top-[14px] right-[14px] w-[40px] h-[40px] bg-[#020f1133] rounded-full flex items-center justify-center">
                                    <div class="w-[30px]">
                                        <img  src="./images/icons/favoris.svg" alt="">
                                    </div>
                                </div>
                                
                            </a>
                            <div class="date">
                                <span class="date__day">3 Fév</span>
                                <span class="data_period">24 jours · 48h</span>
                            </div>
                        </div>
                        <h5 class="font-gelica font-light text-[32px]">
                            <a href="#">YouTube, Facebook, Insta…</a>
                        </h5>
                    </div>
                </div>
                <div class="slide">
                    <div class="article">
                        <div class="article__img-wrapper">
                            <a href="#" class="article__img">
                                <div class="relative">
                                    <img src="./images/4-formateur_result.webp" alt="image">
                                </div>
                                <div class="absolute top-[14px] right-[14px] w-[40px] h-[40px] bg-[#020f1133] rounded-full flex items-center justify-center">
                                    <div class="w-[30px]">
                                        <img  src="./images/icons/favoris.svg" alt="">
                                    </div>
                                </div>
                            </a>
                            <div class="date">
                                <span class="date__day">19 Déc</span>
                                <span class="data_period">10 jours · 20h</span>
                            </div>
                        </div>
                        <h5 class="font-gelica font-light text-[32px]">
                            <a href="#">Wordpress</a>
                        </h5>
                    </div>
                </div>
                <div class="slide">
                    <div class="article">
                        <div class="article__img-wrapper">
                            <a href="#" class="article__img">
                                <div class="relative">
                                    <img src="./images/9-formateur_result.webp" alt="image">
                                </div>
                                <div class="absolute top-[14px] right-[14px] w-[40px] h-[40px] bg-[#020f1133] rounded-full flex items-center justify-center">
                                    <div class="w-[30px]">
                                        <img  src="./images/icons/favoris.svg" alt="">
                                    </div>
                                </div>
                            </a>
                            <div class="date">
                                <span class="date__day">2 Jan</span>
                                <span class="data_period">24 jours · 48h</span>
                            </div>
                        </div>
                        <h5 class="font-gelica font-light text-[32px]">
                            <a href="#">
                                ReactJs
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="slide">
                    <div class="article">
                        <div class="article__img-wrapper">
                            <a hreg class="article__img">
                                <div class="relative">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </div>
                                <div class="absolute top-[14px] right-[14px] w-[40px] h-[40px] bg-[#020f1133] rounded-full flex items-center justify-center">
                                    <div class="w-[30px]">
                                        <img  src="./images/icons/favoris.svg" alt="">
                                    </div>
                                </div>
                            </a>
                            <div class="date">
                                <span class="date__day">3 Fév</span>
                                <span class="data_period">24 jours · 48h</span>
                            </div>
                        </div>
                        <h5 class="font-gelica font-light text-[32px]">
                            <a href="#">
                                HTML5/CSS
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="slide">
                    <div class="article">
                        <div class="article__img-wrapper">
                            <a href="#" class="article__img">
                                <div class="relative">
                                    <img src="./images/4-formateur_result.webp" alt="image">
                                </div>
                                <div class="absolute top-[14px] right-[14px] w-[40px] h-[40px] bg-[#020f1133] rounded-full flex items-center justify-center">
                                    <div class="w-[30px]">
                                        <img  src="./images/icons/favoris.svg" alt="">
                                    </div>
                                </div>
                            </a>
                            <div class="date">
                                <span class="date__day">19 Déc</span>
                                <span class="data_period">10 jours · 20h</span>
                            </div>
                        </div>
                        <h5 class="font-gelica font-light text-[32px]">
                            <a href="#">Wordpress</a>
                        </h5>
                    </div>
                </div>
                <div class="slide">
                    <div class="article">
                        <div class="article__img-wrapper">
                            <a href="#" class="article__img">
                                <div class="relative">
                                    <img src="./images/9-formateur_result.webp" alt="image">
                                </div>
                                <div class="absolute top-[14px] right-[14px] w-[40px] h-[40px] bg-[#020f1133] rounded-full flex items-center justify-center">
                                    <div class="w-[30px]">
                                        <img  src="./images/icons/favoris.svg" alt="">
                                    </div>
                                </div>
                            </a>
                            <div class="date">
                                <span class="date__day">2 Jan</span>
                                <span class="data_period">24 jours · 48h</span>
                            </div>
                        </div>
                        <h5 class="font-gelica font-light text-[32px]">
                            <a href="#">
                                ReactJs
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="a-slider__navigation">
                <div class="prev"><i class="icon icon-navigation-left"></i></div>
                <div class="next"><i class="icon icon-navigation-right"></i></div>
            </div>
        </div>

    </div>
</section>