<section class="a-container mb-[56px] lg:mb-[140px]">
    <div class="lg:flex justify-between items-center mb-16 mt-[41px]">
        <h4 class="font-gelica text-4xl lg:text-[72px] leading-[40px] lg:leading-[85px] w-full">
            <span class="text-mindaro">Culture</span> digital
        </h4>
        <div class="flex justify-end">
            <div class="select mr-3">
                <div class="label" data-value="Recommandés">Recommandés</div>
                <i class="icon icon-chevron-bottom"></i>
                <div class="select__options">
                    <form action="#">
                        <label class="checkbox mb-2 last-of-type:mb-0" for="Recommandés">
                            <input type="checkbox" name="Recommandés" id="Recommandés" />
                            Recommandés
                        </label>
                        <label class="checkbox mb-2 last-of-type:mb-0" for="Nouveaux">
                            <input type="checkbox" name="Nouveaux" id="Nouveaux" />
                            Nouveaux
                        </label>
                        <label class="checkbox mb-2 last-of-type:mb-0" for="bientot">
                            <input type="checkbox" name="bientot" id="bientot" />
                            Bientôt terminés
                        </label>
                    </form>
                </div>
            </div>
            <div class="select">
                <div class="label" data-value="filter">Filter</div>
                <i class="icon icon-filter"></i>
                <div class="select__options">
                    <form action="#">
                        <label class="checkbox mb-2 last-of-type:mb-0" for="Recommandés-2">
                            <input type="checkbox" name="Recommandés-2" id="Recommandés-2" />
                            Recommandés
                        </label>
                        <label class="checkbox mb-2 last-of-type:mb-0" for="Nouveaux-2">
                            <input type="checkbox" name="Nouveaux-2" id="Nouveaux-2" />
                            Nouveaux
                        </label>
                        <label class="checkbox mb-2 last-of-type:mb-0" for="bientot-2">
                            <input type="checkbox" name="bientot-2" id="bientot-2" />
                            Bientôt terminés
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden lg:block lg:mx-[-47px] lg:w-[calc(100%+94px)] lg:px-[47px] lg:pt-[67px] lg:pb-0 relative">
        <img class="absolute z-0 top-0 left-0 w-full max-w-[1518px] inline-block"
             src="./images/forme-page-formations-categories.png" alt="formations-desktiop-bg">
        <div class="flex flex-wrap relative z-10 items-start justify-between">
            <div class="article mb-8">
                <div class="article__img-wrapper">
                    <a href="#" class="article__img">
                        <img src="./images/8-formateur_result.webp" alt="image">

                    </a>
                    <div class="date">
                        <span class="date__day">3 Fév</span>
                        <span class="data_period">24 jours · 48h</span>
                    </div>
                </div>
                <h5 class="article__title">
                    <a href="#">Analyste en cybersécurité</a>
                </h5>
            </div>
            <div class="article mb-8">
                <div class="article__img-wrapper">
                    <a href="#" class="article__img">
                        <img src="./images/9-formateur_result.webp" alt="image">

                    </a>
                    <div class="date">
                        <span class="date__day">3 Fév</span>
                        <span class="data_period">24 jours · 48h</span>
                    </div>
                </div>
                <h5 class="article__title">
                    <a href="#">Wordpress</a>
                </h5>
            </div>
            <div class="article article--xl mb-8">
                <div class="article__img-wrapper">
                    <a href="#" class="article__img">
                        <img src="./images/16-formateur_result.webp" alt="image">
                    </a>
                    <div class="date">
                        <span class="date__day">19 Déc</span>
                        <span class="data_period">10 jours · 20h</span>
                    </div>
                </div>
                <h5 class="article__title">
                    <a href="#">HTML/CSS3</a>
                </h5>
            </div>
            <div class="article article--xl mb-8">
                <div class="article__img-wrapper">
                    <a href="#" class="article__img">
                        <img src="./images/61-formateur_result.webp" alt="image">
                    </a>
                    <div class="date">
                        <span class="date__day">19 Déc</span>
                        <span class="data_period">10 jours · 20h</span>
                    </div>
                </div>
                <h5 class="article__title">
                    <a href="#">UX Designer</a>
                </h5>
            </div>
            <div class="bg-interrogations w-[400px] h-[524px] bg-no-repeat lg:bg-[length:100%_100%] mb-8">
                <div class="p-8 pr-[120px]">
                    <h5 class="font-gelica text-[32px] leading-[40px] mb-6">Des interrogations ou des besoins
                        particuliers ?</h5>
                    <p class="text-xl leading-5 mb-4">Nous sommes à votre écoute.</p>
                    <img class="w-[153px] ml-3" src="./images/fleche-interrogations_result.webp"
                         alt="fleche-interrogations_result">
                </div>
                <div class="pr-14 text-right">
                    <p class="mr-4 mb-2 text-xl leading-6">Appelez-nous au :</p>
                    <p class="text-[18px] leading-5 text-mindaro flex items-center justify-end">
                        <i class="icon icon-phone-call text-base mr-2"></i>
                        06 61 47 39 86
                    </p>
                </div>
            </div>
            <div class="article mb-8">
                <div class="article__img-wrapper">
                    <a href="#" class="article__img">
                        <img src="./images/4-formateur_result.webp" alt="image">
                    </a>
                    <div class="date">
                        <span class="date__day">19 Déc</span>
                        <span class="data_period">10 jours · 20h</span>
                    </div>
                </div>
                <h5 class="article__title">
                    <a href="#">Wordpress</a>
                </h5>
            </div>
        </div>

    </div>
</section>