<section class="a-container mb-[56px] xl:mb-[140px]">
    <div class="max-w-[1440px] xl:mx-auto xl:flex">
        <div class="xl:vertical-lr xl:mr-[90px]">
            <h4
                class="text-center xl:w-auto xl:rotate-180 mx-auto font-gelica text-4xl xl:text-[72px] leading-[40px] xl:leading-[72px] mb-4">
                Prochaines <span class="text-mindaro">dates</span>
            </h4>
        </div>
        <div class="xl:horizontal-tb w-full">
            <div
                class="border border-white rounded-3xl xl:border-none xl:bg-dates xl:bg-[length:100%_100%] xl:bg-no-repeat xl:h-[184px] relative p-8 mb-4 xl:mb-0">
                <div class="flex">
                    <p class="font-bold text-xl xl:text-[40px] xl:leading-[58px] mr-8 xl:mr-24 mb-4 xl:mb-0">
                        1 · 5 Jan
                        <span class="font-normal block xl:text-xl xl:leading-[20px]">24 jours · 48h</span>
                    </p>
                    <p class="text-[40px] xl:text-[40px] xl:leading-[58px] Gelica-regular">
                        <span
                            class="font-normal block text-base xl:text-base xl:leading-[38px] uppercase Degular-regular">MARKETING
                            DIGITAL</span>
                        Community manager
                    </p>
                </div>
                <div class="xl:absolute bottom-[50px] right-[42px]">
                    <a class="btn btn--primary" href="#">S’inscrire au cours</a>
                </div>
            </div>
            <div
                class="border border-white rounded-3xl xl:border-none xl:bg-dates xl:bg-[length:100%_100%] xl:bg-no-repeat xl:h-[184px] relative p-8 mb-4 xl:mb-0">
                <div class="flex">
                    <p class="font-bold text-xl xl:text-[40px] xl:leading-[58px] mr-8 xl:mr-24 mb-4 xl:mb-0">
                        1 · 5 Jan
                        <span class="font-normal block xl:text-xl xl:leading-[20px]">24 jours · 48h</span>
                    </p>
                    <p class="text-[40px] xl:text-[40px] xl:leading-[58px] Gelica-regular">
                        <span
                            class="font-normal block text-base xl:text-base xl:leading-[38px] uppercase Degular-regular">DÉVELOPPEMENT
                            WEB/MOBILE</span>
                        Les clés du e-commerce
                    </p>
                </div>
                <div class="xl:absolute bottom-[50px] right-[42px]">
                    <a class="btn btn--primary" href="#">S’inscrire au cours</a>
                </div>
            </div>
            <div
                class="border border-white rounded-3xl xl:border-none xl:bg-dates xl:bg-[length:100%_100%] xl:bg-no-repeat xl:h-[184px] relative p-8 mb-4 xl:mb-0">
                <div class="flex">
                    <p class="font-bold text-xl xl:text-[40px] xl:leading-[58px] mr-8 xl:mr-24 mb-4 xl:mb-0">
                        1 · 5 Jan
                        <span class="font-normal block xl:text-xl xl:leading-[20px]">24 jours · 48h</span>
                    </p>
                    <p class="text-[40px] xl:text-[40px] xl:leading-[58px] Gelica-regular">
                        <span
                            class="font-normal block text-base xl:text-base xl:leading-[38px] uppercase Degular-regular">CULTURE
                            DIGITAL</span>
                        Les clés du e-commerce
                    </p>
                </div>
                <div class="xl:absolute bottom-[50px] right-[42px]">
                    <a class="btn btn--primary" href="#">S’inscrire au cours</a>
                </div>
            </div>
            <div class="flex flex-row items-center justify-end mt-[40px]">
                <div class="flex flex-row gap-10 items-center justify-center">
                    <p class="text-[32px] font-degular font-bold">Explorez toutes les dates</p>
                    <img class="rotate-90 w-[30px] h-[27px]" src="images/icons/arrow-right.svg" alt="">
                </div>
            </div>

        </div>

    </div>
</section>