<section class="w-full mb-[56px] lg:mb-[140px] mt-[140px]">
    <div class="a-container items-center justify-center flex flex-col">
        <div class="lg:text-[64px] w-[500px] lg:w-[650px] leading-[40px] lg:leading-[80px] mb-4">
            <h4 class="text-center mx-auto font-gelica font-light text-[64px] ">
                Apprenez auprès <span class="text-mindaro">d’experts</span> reconnus
            </h4>
        </div>

        <p class="text-center text-lg lg:text-2xl leading-6 lg:leading-10 mb-6 lg:mb-8">Les cours Aideprojet sont
            dispensés par des leaders de l’industrie.
        </p>
    </div>
    <div class="lg:hidden">
        <div class="slider-container a-slider a-slider--double" data-config="double">
            <!-- Slides -->
            <div class="slide ">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc opacity-80">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="formatter">
                    <a href="#" class="formatter__img"
                        style="background-image: url('src/images/16-formateur_result.webp')"></a>
                    <div class="formatter__infos-group">
                        <img src="./images/forme-formateur.svg" alt="forme-formateur">
                        <div class="infos">
                            <h5 class="font-light font-gelica text-[32px]">
                                <a href="#">Marine</a>
                            </h5>
                            <p class="infos__desc">Senior développeur web</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class=" hidden lg:block">
        <div class="slider-container a-slider a-slider--double" data-config="double">
            <div class="slide">
                <div class="flex justify-between">
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="flex justify-between">
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="flex justify-between">
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="flex justify-between">
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                    <div class="formatter">
                        <a href="#" class="formatter__img"
                            style="background-image: url('src/images/16-formateur_result.webp')"></a>
                        <div class="formatter__infos-group">
                            <img src="./images/forme-formateur.svg" alt="forme-formateur">
                            <div class="infos">
                                <h5 class="font-light font-gelica text-[32px]">
                                    <a href="#">Marine</a>
                                </h5>
                                <p class="infos__desc Degular-regular">Senior développeur web</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="link w-full justify-center">Rencontrez nos formateurs <i class="icon icon-arrow-right"></i></a>
    </div>

</section>