<footer class="w-full footer">
    <div class="py-[72px] border-y border-[#ffffff30]">
        <div class="a-container">
            <div class="flex flex-col lg:flex-row justify-between">
                <div class="flex flex-col lg:flex-row justify-start mb-8 lg:mb-0">
                    <div class="bg-turmeric rounded-[30px] w-[288px] h-[381px] mr-[35px] mb-6 lg:mb-0 relative">
                        <img class="max-w-none h-full" src="./images/homme-tabeltte-finacez-projet_result.webp" alt="homme-tabeltte-finacez-projet_result">
                    </div>
                    <div class="flex flex-col">
                        <h4 class="footer--title mb-6.5">Centre d’aide</h4>
                        <a href="#" class="btn--contact btn--primary mb-4 max-w-[235px] lg:max-w-none text-lg Degular-medium">Nous contacter</a>
                        <a href="#" class="btn--faq btn--secondary max-w-[235px] lg:max-w-none text-lg Degular-medium">FAQ</a>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-start">
                    <div class="flex flex-col navigate w-full lg:w-[240px] 2xl:w-[288px] lg:mr-[20px] 2xl:mr-[144px] mb-8 lg:mb-0" >
                        <h4 class="footer--title mb-8.5">Naviguez</h4>
                        <a href="#" class="item is-parent js-accordion">Formations</a>
                        <a href="#" class="item is-parent js-accordion">Services digitaux</a>
                        <a href="#" class="item">À propos</a>
                    </div>
                    <div class="flex flex-col lg:mr-[20px] 2xl:mr-[144px]">
                        <h4 class="footer--title mb-8.5">Suivez-nous</h4>
                        <a href="#" class="flex items-center text-xl leading-[26px] mb-6"><i class="icon icon-instagram text-md leading-[26px] mr-3"></i><span class="opacity-60">Instagram</span></a>
                        <a href="#" class="flex items-center text-xl leading-[26px] mb-6"><i class="icon icon-facebook text-md leading-[26px] mr-3"></i><span class="opacity-60">Facebook</span></a>
                        <a href="#" class="flex items-center text-xl leading-[26px] mb-6"><i class="icon icon-linkedin text-md leading-[26px] mr-3"></i><span class="opacity-60">Linkedin</span></a>
                        <a href="#" class="flex items-center text-xl leading-[26px] mb-6"><i class="icon icon-twitter text-md leading-[26px] mr-3"></i><span class="opacity-60">Twitter</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:h-[77px] a-container flex flex-col lg:flex-row justify-between items-start lg:items-center p-5 lg:p-0">
        <p class="inline-block text-sm mb-3.5 lg:mb-0">© 2023 Aideprojet. Tous droits réservés</p>
        <div class="flex flex-col lg:flex-row lg:justify-end">
            <a href="#" class="text-sm lg:ml-[56px] mb-3.5 lg:mb-0 last-of-type:mb-0">Politique de confidentialité</a>
            <a href="#" class="text-sm lg:ml-[56px] mb-3.5 lg:mb-0 last-of-type:mb-0">Conditions d’utilisation</a>
            <a href="#" class="text-sm lg:ml-[56px] mb-3.5 lg:mb-0 last-of-type:mb-0">Mentions légales</a>
        </div>
    </div>
</footer>