<section class="a-container mb-[56px] lg:mb-[140px] flex justify-center relative">
    <img class="hidden 2xl:inline-block absolute w-[calc(100%+94px)]] z-0 top-[172px] left-[-47px] "
         src="./images/bg-formateur.png" alt="bg formateur">
    <div class="relative z-1 pt-[41px] w-full 2xl:w-auto 2xl:mx-auto 2xl:flex">
        <div class="2xl:w-[544px] 2xl:mr-8">
            <div class="rounded-[40px] mb-8">
                <img class="w-full" src="./images/formateur-profile.png" alt="formateur profile">
            </div>
            <div class="bg-[#0A1718] border border-[#253032] rounded-[40px] mb-8">
                <div class="p-10 border-b border-[#FFFFFF4D]">
                    <h5 class="Gelica-regular text-[32px] leading-10 mb-7">Compétences</h5>
                    <ul class="flex flex-wrap justify-start ">
                        <li class="inline-block text-2xl mr-4 mb-2">✓ User experience</li>
                        <li class="inline-block text-2xl mr-4 mb-2">✓ Gestion de projet</li>
                        <li class="inline-block text-2xl mr-4 mb-2">✓ Wireframe</li>
                        <li class="inline-block text-2xl mr-4 mb-2">✓ Design Thinking</li>
                        <li class="inline-block text-2xl mr-4 mb-2">✓ UX Write</li>
                        <li class="inline-block text-2xl mr-4 mb-2">✓ Illustration</li>
                    </ul>
                </div>
                <div class="p-10 border-b border-[#FFFFFF4D]">
                    <h5 class="Gelica-regular text-[32px] leading-10 mb-7">Niveau d’expérince</h5>
                    <p class="flex align-baseline text-2xl"><i class="icon icon-star text-xl mr-2.5"></i>8-15 ans</p>
                </div>
                <div class="p-10">
                    <h5 class="Gelica-regular text-[32px] leading-10 mb-7">Langues</h5>
                    <div class="flex items-baseline text-2xl">
                        <i class="icon icon-langues text-xl mr-2.5"></i>
                        <ul class="flex justify-start flex-wrap">
                            <li class="inline-block mr-4 mb-2">Français</li>
                            <li class="inline-block mr-4 mb-2">Anglais</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="bg-[#0A1718] border border-[#253032] rounded-[40px] mb-8">
                <div class="p-10">
                    <h5 class="Gelica-regular text-[32px] leading-10 mb-7">Localisation</h5>
                    <p class="flex items-baseline text-2xl">
                        <i class="icon icon-localisation text-xl mr-2.5"></i>
                        Bordeaux
                    </p>
                </div>
            </div>
        </div>
        <div class="2xl:w-[832px]">
            <div class="bg-[#0A1718] border border-[#253032] rounded-[40px] mb-8">
                <div class="p-10">
                    <!-- <p class="uppercase text-sm leading-[18px] inline-block w-full">FORMATEUR</p> -->
                    <!-- <h5 class="font-gelica text-[48px] leading-[64px] mb-4">
                        Marine Robert
                    </h5> -->
                    <div class="flex justify-between">
                        <h5 class="font-gelica text-[48px] leading-[64px] mb-4">
                            Marine Robert
                        </h5>
                        <div class="flex">
                            <img class="flex w-10 h-10 mr-[18px]"
                                src="./images/carre-partage-icone.svg" alt="">
                            
                            <div class="flex w-10 h-10">
                                <img class=""
                                src="./images/icons/carre-vignette-icone_active.svg" alt="">
                            </div>    
                        </div>
                    </div>
                    <p class="text-2xl opacity-50 mb-6">
                        Analyste en cybersécurité
                    </p>
                    <p class="text-2xl mb-10">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebu… <span class="underline">Lire plus</span>
                    </p>
                    <ul class="mb-8">
                        <li class="text-2xl mb-3 flex items-baseline Degular-regular">
                            <i class="icon icon-link text-[#5E55F2] text-[20px] mr-3"></i>
                            <a href="#">www.marianerobert.com</a>
                        </li>
                        <li class="text-2xl mb-3 flex items-baseline Degular-regular">
                            <i class="icon icon-github text-[#6F47BF] text-[20px] mr-3"></i>
                            <a href="#">www.github.com/marianerobert</a>
                        </li>
                        <li class="text-2xl mb-3 flex items-baseline Degular-regular">
                            <i class="icon icon-instagram-2 text-[20px] mr-3 from-[#614DE2] via-[#DF4168] to-[#DEA452] bg-gradient-to-br bg-clip-text text-transparent"></i>
                            <a href="#">www.instagram.comn/marianerobert</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-[#0A1718] border border-[#253032] rounded-[40px] mb-8">
                <div class="p-10">
                    <h5 class="Gelica-regular text-[32px] leading-[40px] mb-4.5">
                        Formations
                    </h5>
                    <div class="rounded-[32px] border-[0.5px] border-[#FFFFFF] p-6 mb-4 border-opacity-20">
                        <div class="flex justify-start">
                            <div class="w-[113px] h-[113px] mr-4">
                                <img class="w-full rounded-[18px]" src="./images/20166.png"
                                     alt="8-formateur_result">
                            </div>
                            <div class="w-[calc(100%-145px)] flex justify-between py-2 items-center">
                                <div>
                                    <!-- <p class="text-sm leading-[18px]">DÉVELOPPEMENT MOBILE/WEB</p> -->
                                    <h6 class="font-gelica text-2xl leading-10 mb-0 Gelica-regular">Analyste en cybersécurité</h6>
                                    <p class="text-2xl font-bold font-degular mb-[2px]">2 Jan</p>
                                    <p class="text-sm Degular-regular">24 jours · 48h</p>
                                </div>
                                <a href="#" class="bg-[#7971F5] w-[139px] h-[34px] flex items-center justify-center rounded-[19px] text-sm font-medium font-degular">S’inscrire au cours</a>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-[32px] border-[0.5px] border-[#FFFFFF] p-6 mb-4 border-opacity-20">
                        <div class="flex justify-start">
                            <div class="w-[113px] h-[113px] mr-4 mask">
                                <img class="w-full rounded-[18px]" src="./images/20166.png"
                                     alt="8-formateur_result">
                            </div>
                            <div class="w-[calc(100%-145px)] flex justify-between items-center py-2 ">
                                <div>
                                    <!-- <p class="text-sm leading-[18px]">DÉVELOPPEMENT MOBILE/WEB</p> -->
                                    <h6 class="font-gelica text-2xl leading-10 Gelica-regular">HTML5 /CSS3</h6>
                                    <p class="text-2xl font-bold font-degular mb-[2px]">2 Jan</p>
                                    <p class="text-sm Degular-regular">24 jours · 48h</p>
                                </div>
                                <a href="#" class="bg-[#7971F5] w-[139px] h-[34px] flex items-center justify-center rounded-[19px] text-sm font-medium font-degular">S’inscrire au cours</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[#0A1718] border border-[#253032] rounded-[40px] mb-8">
                <div class="p-10">
                    <h5 class="font-gelica text-[32px] leading-[40px] mb-4.5">
                        Experiences
                    </h5>
                    <div class="rounded-[32px] border border-[#FFFFFF66] p-10 mb-4">
                        <div class="flex justify-between">
                            <div class="flex justify-start items-start">
                                <i class="icon icon-calendrier text-2xl inline-block mr-3"></i>
                                <p class="text-2xl leading-[29px]">
                                    <span class="w-full inline-block">Fév 2022</span>
                                    <span class="w-full inline-block">Maintenant</span>
                                </p>
                            </div>
                            <div class="w-[470px]">
                                <h6 class="Gelica-regular text-[32px] leading-[43px] max-w-[470px] mb-2">Analyste
                                    SOC</h6>
                                <p class="text-2xl mb-[26px] Degular-regular opacity-50">Sopra Steria - Paris, France</p>
                                <p class="text-2xl Degular-regular">S
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-[32px] border border-[#FFFFFF66] p-10 mb-4">
                        <div class="flex justify-between">
                            <div class="flex justify-start items-start">
                                <i class="icon icon-calendrier text-2xl inline-block mr-3"></i>
                                <p class="text-2xl leading-[29px]">
                                    <span class="w-full inline-block">Jan 2022</span>
                                    <span class="w-full inline-block">Oct 2018</span>
                                </p>
                            </div>
                            <div class="w-[470px]">
                                <h6 class="Gelica-regular text-[32px] leading-[43px] max-w-[470px] mb-2">Analyste en
                                    cybersécurité</h6>
                                <p class="text-2xl mb-[26px] Degular-regular opacity-50">GROUPE TREFLE - Athis-Mons, France</p>
                                <p class="text-2xl Degular-regular">S
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-[32px] border border-[#FFFFFF66] p-10">
                        <div class="flex justify-between">
                            <div class="flex justify-start items-start">
                                <i class="icon icon-calendrier text-2xl inline-block mr-3"></i>
                                <p class="text-2xl leading-[29px]">
                                    <span class="w-full inline-block">Fév 2022</span>
                                    <span class="w-full inline-block">Maintenant</span>
                                </p>
                            </div>
                            <div class="w-[470px]">
                                <h6 class="Gelica-regular text-[32px] leading-[43px] max-w-[470px] mb-2 ">Professeur de
                                    Sécurité Informatique & Sécurité Web</h6>
                                <p class="text-2xl mb-[26px] Degular-regular opacity-50">EDUCATION & E-LEARNING - Bordeaux</p>
                                <p class="text-2xl Degular-regular">S
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>