<div style="position: relative;" class="header_">
    <header style="background-color: #020f11; z-index: 99999;" class="bg-gray-800 text-white p-4 fixed top-0 w-full">
        <div class="a-container">
            <div class="flex justify-between items-center">
                <div class="flex justify-between lg:justify-start w-full lg:w-auto">
                    <a href="/">
                        <h1 class="inline-block w-[115px] lg:w-[175px] mr-[70px]">
                            <img src="./images/Aideprojet-logo-blanc.svg" alt="logo">
                        </h1>
                    </a>
                    <a href="#" class="lg:hidden"><i class="icon icon-burger-menu text-xl"></i></a>
                    <nav class="navigation">
                        <a href="./formations.html" class="navigation--item is-parent">Formations <i
                                class="icon icon-chevron-bottom"></i></a>
                        <a href="#" class="navigation--item is-parent">Services <i
                                class="icon icon-chevron-bottom"></i></a>
                        <a href="#" class="navigation--item">Nous contacter</a>
                    </nav>
                </div>
                <div class="hidden fl_row">
                    <a href="#" class="btn btn--primary mr-4">Se connecter</a>
                    <a href="#" class="btn btn--secondary">S’inscrire</a>
                </div>
            </div>
        </div>
    </header>
</div>