<section class="a-container mb-[100px]  mt-6 lg:mt-10">
    
    <div class="flex flex-row gap-10">
        <div class="w-[1112px] h-[684px]">
            <div>
                <h4 class="font-gelica text-4xl xl:text-[72px] leading-[40px] xl:leading-[72px] mb-4">
                    Les clés du e-commerce
                </h4>
                <p class="text-xl lg:text-2xl leading-6	lg:leading-8 opacity-90 mb-12">
                    Doper le trafic et la performance des ventes en ligne
                </p>
            </div>
            <img class=" w-[1112px] h-[684px] rounded-[40px] mb-10"
            src="./images/interview-recording-young-man.png" alt="interview-recording-young-man.png">
            <div
                class="flex justify-between items-center w-full px-[40px] py-[31px] border bg-[#0A1718] border-[#253032] rounded-[40px] mr-8">
                <div class="flex lg:items-center">
                    <img class="w-[82px] h-[82px] rounded-full mr-5" src="./images/formation12_result.webp"
                        alt="formation12_result">
                    <div class="flex flex-col justify-between h-[82px]">
                        <h5 class="text-[32px] Gelica-regular leading-[41px]">Pascal</h5>
                        <p class="text-2xl Degular-regular opacity-80">Social Media & Community Manager</p>
                    </div>
                </div>
                <div class="flex">
                    <a href="#"
                        class="group h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-xl hover:bg-white hover:border-white mr-4">
                        <i class="icon icon-partager text-base group-hover:text-black"></i>
                    </a>
                    <a href="#"
                        class="group h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-xl hover:bg-white hover:border-white active:border-corn-flower active:bg-corn-flower active:text-white">
                        <i class="icon icon-favoris text-2xl group-hover:text-black group-active:hidden"></i>
                        <i class="icon icon-favoris-active hidden text-2xl group-active:inline"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="flex justify-start items-end mt-[22px]">           
            <div class="relative">
                <div class="w-[544px] border border-wht bg-black rounded-[40px] p-10 pb-0 relative z-10">
                    <p class="Degular-regular text-[24px] leading-[37px] mb-4">
                        <span class="text-[32px] leading-6 mb-2 font-light font-gelica">Date : </span>
                        2 jan · 27 fév
                    </p>
                    <div
                        class=" w-[464px] h-[175px] flex flex-col  border border-[#253032] rounded-[24px]   bg-[#FFFFFF05] justify-evenly">
                        <div class="flex flex-row justify-around relative">
                            <div class="flex flex-col items-center">
                                <p class="font-semibold font-degular text-2xl leading-6">6</p>
                                <p class="text-lg font-degular Degular-regular opacity-60">Lives</p>
                            </div>
                            <div class="h-[30px] w-[1px] bg-[#253032] absolute left-1/2"></div>
                            <div class="flex flex-col items-center">
                                <p class="text-2xl font-degular font-semibold leading-6">6j (20h)</p>
                                <p class="text-lg font-degular Degular-regular opacity-60">Durée</p>
                            </div>
                        </div>
                        <div class="h-[1px] w-full bg-[#253032]"></div>
                        <div class="flex flex-row justify-around">
                            <div class="flex flex-col items-center justify-center">
                                <p class="font-semibold font-degular text-2xl leading-6">Avancé</p>
                                <p class="text-lg font-degular Degular-regular opacity-60">Niveau</p>
                            </div>
                            <div class="h-[30px] w-[1px] bg-[#253032]  absolute left-1/2"></div>
                            <div class="flex flex-col items-center justify-center">
                                <p class="text-2xl font-degular font-semibold leading-6">Anglais</p>
                                <p class="text-lg font-degular Degular-regular opacity-60">Langue</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div
                        class=" w-[464px] h-[87.5px] flex justify-evenly items-center border border-[#253032] rounded-b-[24px] mb-6 bg-[#FFFFFF05]">
                        <div class="flex flex-col items-center justify-center">
                            <p class="font-semibold font-degular text-2xl leading-6">Avancé</p>
                            <p class="text-lg font-degular Degular-regular opacity-60">Niveau</p>
                        </div>
                        <div class="h-[30px] w-[1px] bg-[#253032]"></div>
                        <div class="flex flex-col items-center justify-center">
                            <p class="text-2xl font-degular font-semibold leading-6">Anglais</p>
                            <p class="text-lg font-degular Degular-regular opacity-60">Langue</p>
                        </div>
                    </div> -->
                    <a href="#" class="w-full mb-6 bg-[#7971F5] rounded-[18px] flex justify-center items-center h-[55px] mt-6 text-lg font-medium font-degular hover:border-[1px] hover:border-[#7971F5] hover:bg-transparent">S’inscrire au cours</a>
                    <div class="flex justify-between items-baseline mb-10">
                        <p class="text-2xl Degular-regular font-degular">Prix :</p>
                        <p class="font-bold text-[40px] leading-[53px] font-degular">4 500 €</p>
                    </div>
                    <div class="h-[1px] w-full absolute left-0 bg-[#253032]"></div>
                    <div class="w-[544px]  rounded-[40px] mx-[-33px] mb-[-1px] p-8">
                        <p class="text-[24px] leading-[37px] mb-4 font-light font-gelica">
                            Démarrer plus tard
                        </p>
                        <div class="border border-wht rounded-3xl mb-4">
                            <div
                                class="flex justify-between items-center border-b border-wht px-8 pt-2 h-[86px]">
                                <p class="font-semibold font-degular text-2xl leading-8">11 oct · 16 nov</p>
                                <a href="#" class="bg-[#7971F5] rounded-[20px] flex justify-center items-center w-[143px] h-[36px] text-[14px] font-medium font-degular">S’inscrire au cours</a>
                            </div>
                            <div class="flex justify-between items-center px-8 h-[86px]">
                                <div class="flex lg:items-center">
                                    <div class="relative w-[40px] h-[40px] mr-3">
                                        <img class="w-full  rounded-full" src="./images/formation12_result.webp"
                                            alt="formation12_result">
                                        <img class="absolute right-0 bottom-0 h-[16px] w-[16px]"
                                            src="./images/eng-flag.svg" alt="eng flag">
                                    </div>
                                    <div>
                                        <h5 class="text-base font-medium leading-[21px]">Vincent</h5>
                                        <p class="text-[12px] leading-4">Ingénieur informatique — <span
                                                class="font-bold">Cours en Anglais</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border border-wht rounded-3xl mb-4">
                            <div
                                class="flex justify-between items-center border-b border-wht px-8 pt-2 h-[86px]">
                                <p class="font-semibold font-degular text-2xl leading-8">22 avr - 24 juin</p>
                                <a href="#" class="bg-[#7971F5] rounded-[20px] flex justify-center items-center w-[143px] h-[36px] text-[14px] font-medium font-degular">S’inscrire au cours</a>
                            </div>
                            <div class="flex justify-between items-center px-8 h-[86px]">
                                <div class="flex lg:items-center">
                                    <div class="relative w-[40px] h-[40px] mr-3">
                                        <img class="w-full  rounded-full" src="./images/formation13_result.webp"
                                            alt="formation12_result">
                                        <img class="absolute right-0 bottom-0 h-[16px] w-[16px]"
                                            src="./images/fr-flag.svg" alt="fr flag">
                                    </div>
                                    <div>
                                        <h5 class="text-base font-medium font-degular leading-[21px]">Marine</h5>
                                        <p class="text-[12px] leading-4">Ingénieur informatique — <span
                                                class="font-bold">Cours en Anglais</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="border rounded-[18px] w-full flex justify-center items-center h-[55px] font-semibold font-degular text-[18px]" href="#">Consulter plus de dates</a>
                    </div>
                </div>

                <!--  yellow block   -->
                <div class="rounded-[40px] w-[447px] h-[534px] bg-mindaro absolute z-[-1px] top-[-50px] right-[-50px]">
                </div>
            </div>

        </div>
    </div>
</section>