<section class="fl_col gp40">
    <div class="fl_col txt_center txt_white gp40">
        <div class="fl_col gp15">
            <p class="p40">Se connecter</p>
            <p class="p16">Connectez-vous pour accéder à votre compte</p>
        </div>
        <button class="btn btn-icon btn-light">
            <img src="./images/google-icon.svg" alt="">
            <p class="p16">Connexion avec google</p>
        </button>
    </div>
    <div class="_diver"></div>
    <form>
        <div class="form-wrapper fl_col gp15">
            <div class="fl_col gp15 inp_style">
                <div class="inp_col input-box inactive">
                    <label for="">Email</label>
                    <input type="text" placeholder="" class="input-with-behavior">
                </div>
                <div class="inp_col input-box inactive inp-icon">
                    <img class="show_pw" src="./images/eye-svgrepo-com.svg" alt="show/hide password">
                    <label for="">Mot de passe</label>
                    <input type="password" placeholder="" class="input-with-behavior">
                </div>
            </div>
            <a class="p13 pd20-r-l txt_grey" href="/reset-password.html"><u>Mot de passe oubliè ?</u></a>
            <button class="btn btn-primary">
                Se connecter
            </button>
        </div>
    </form>
    <p class="p15 txt_grey txt_center">Pas encore de compte? <a class="txt_primary" href="/register.html">Crèe
            maintenant</a></p>

</section>