<section class="a-container mb-[56px] xl:mb-[140px]">
    <h4 class="font-gelica text-4xl xl:text-[72px] leading-[40px] xl:leading-[85px] w-full mb-4">
        Commencez à se <span class="text-mindaro">former</span>
    </h4>
    <p class="text-lg xl:text-2xl leading-6 xl:leading-10 mb-8 xl:mb-14">Que souhaitez vous apprendre ?</p>
    <div
        class="mx-[-20px] w-[calc(100%+40px)] xl:hidden pt-8 pb-6 mb-6 bg-formations-mobile bg-contain bg-no-repeat bg-center">
        <div class="slider-container a-slider a-slider--default">
            <!-- Slides -->
            <div class="slide">
                <div class="article">
                    <div class="article__img-wrapper">
                        <a href="#" class="article__img">
                            <img src="./images/2-formateur_result.webp" alt="image">
                        </a>
                        <div class="date">
                            <span class="date__day">3 Fév</span>
                            <span class="data_period">24 jours · 48h</span>
                        </div>
                    </div>
                    <h5 class="article__title">
                        <a href="#">HTML5/CSS</a>
                    </h5>
                </div>
            </div>
            <div class="slide">
                <div class="article">
                    <div class="article__img-wrapper">
                        <a href="#" class="article__img">
                            <img src="./images/4-formateur_result.webp" alt="image">
                        </a>
                        <div class="date">
                            <span class="date__day">19 Déc</span>
                            <span class="data_period">10 jours · 20h</span>
                        </div>
                    </div>
                    <h5 class="article__title">
                        <a href="#">Wordpress</a>
                    </h5>
                </div>
            </div>
            <div class="slide">
                <div class="article">
                    <div class="article__img-wrapper">
                        <a href="#" class="article__img">
                            <img src="./images/9-formateur_result.webp" alt="image">
                        </a>
                        <div class="date">
                            <span class="date__day">2 Jan</span>
                            <span class="data_period">24 jours · 48h</span>
                        </div>
                    </div>
                    <h5 class="article__title">
                        <a href="#">ReactJs</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="a-slider__navigation">
            <div class="prev"><i class="icon icon-navigation-left"></i></div>
            <div class="next"><i class="icon icon-navigation-right"></i></div>
        </div>
    </div>
    <a href="#" class="link w-full justify-center xl:hidden">Explorez nos formations <i
            class="icon icon-arrow-right"></i></a>

    <div class="hidden xl:block h-[842px] xl:mx-[-37px] xl:w-[calc(100%+74px)] relative">
        <img class="absolute z-0 top-[38px] left-0 w-full h-[842px] max-w-[1336px] inline-block"
            src="./images/fond-organique-formations.svg" alt="formations-desktiop-bg"> <!--Tabs navigation-->
        <ul class="flex list-none flex-row flex-wrap pl-0 relative z-10" id="tabs-tab3" role="tablist" data-te-nav-ref>
            <li role="presentation">
                <a href="#tabs-dev"
                    class="block px-[50px] pb-[23px] pt-[21px] text-2xl  focus:isolate data-[te-nav-active]:bg-corn-flower data-[te-nav-active]:rounded-ss-[25px] data-[te-nav-active]:rounded-se-[50px]"
                    id="tabs-home-tab3" data-te-toggle="pill" data-te-target="#tabs-dev" data-te-nav-active role="tab"
                    aria-controls="tabs-dev" aria-selected="true">Développement</a>
            </li>
            <li role="presentation">
                <a href="#tabs-ux-ui"
                    class="block px-[50px] pb-[23px] pt-[21px] text-2xl  focus:isolate data-[te-nav-active]:bg-corn-flower data-[te-nav-active]:rounded-ss-[25px] data-[te-nav-active]:rounded-se-[50px]"
                    id="tabs-profile-tab3" data-te-toggle="pill" data-te-target="#tabs-ux-ui" role="tab"
                    aria-controls="tabs-ux-ui" aria-selected="false">UX/UI</a>
            </li>
            <li role="presentation">
                <a href="#tabs-degital-marketing"
                    class="block px-[50px] pb-[23px] pt-[21px] text-2xl  focus:isolate data-[te-nav-active]:bg-corn-flower data-[te-nav-active]:rounded-ss-[25px] data-[te-nav-active]:rounded-se-[50px]"
                    id="tabs-messages-tab3" data-te-toggle="pill" data-te-target="#tabs-degital-marketing" role="tab"
                    aria-controls="tabs-degital-marketing" aria-selected="false">Marketing digital</a>
            </li>
            <li role="presentation">
                <a href="#tabs-culture"
                    class="block px-[50px] pb-[23px] pt-[21px] text-2xl  focus:isolate data-[te-nav-active]:bg-corn-flower data-[te-nav-active]:rounded-ss-[25px] data-[te-nav-active]:rounded-se-[50px]"
                    id="tabs-messages-tab4" data-te-toggle="pill" data-te-target="#tabs-culture" role="tab"
                    aria-controls="tabs-culture" aria-selected="false">Culture digital</a>
            </li>
        </ul>

        <!--Tabs content-->
        <div class=" relative z-10">
            <div class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-dev" role="tabpanel" data-te-tab-active aria-labelledby="tabs-home-tab3">
                <div class="slider-container a-slider a-slider--default mb-12">
                    <!-- Slides -->
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/4-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">19 Déc</span>
                                    <span class="data_period">10 jours · 20h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">Wordpress</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article article--xl">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/9-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">2 Jan</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">ReactJs</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="a-slider__navigation">
                    <div class="prev"><i class="icon icon-navigation-left"></i></div>
                    <div class="next"><i class="icon icon-navigation-right"></i></div>
                </div>
            </div>
            <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-ux-ui" role="tabpanel" aria-labelledby="tabs-profile-tab3">
                <div class="slider-container a-slider a-slider--default mb-12">
                    <!-- Slides -->
                    <!-- <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div> -->
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/4-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">19 Déc</span>
                                    <span class="data_period">10 jours · 20h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">Wordpress</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article article--xl">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/9-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">2 Jan</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">ReactJs</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="a-slider__navigation">
                    <div class="prev"><i class="icon icon-navigation-left"></i></div>
                    <div class="next"><i class="icon icon-navigation-right"></i></div>
                </div>
            </div>
            <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-degital-marketing" role="tabpanel" aria-labelledby="tabs-profile-tab3">
                <div class="slider-container a-slider a-slider--default mb-12">
                    <!-- Slides -->
                    <!-- <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div> -->
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/4-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">19 Déc</span>
                                    <span class="data_period">10 jours · 20h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">Wordpress</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article article--xl">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/9-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">2 Jan</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">ReactJs</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="a-slider__navigation">
                    <div class="prev"><i class="icon icon-navigation-left"></i></div>
                    <div class="next"><i class="icon icon-navigation-right"></i></div>
                </div>
            </div>
            <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                id="tabs-culture" role="tabpanel" aria-labelledby="tabs-profile-tab3">
                <div class="slider-container a-slider a-slider--default mb-12">
                    <!-- Slides -->
                    <!-- <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div> -->
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/4-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">19 Déc</span>
                                    <span class="data_period">10 jours · 20h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">Wordpress</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article article--xl">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/9-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">2 Jan</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">ReactJs</a>
                            </h5>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <a href="#" class="article__img">
                                    <img src="./images/2-formateur_result.webp" alt="image">
                                </a>
                                <div class="date">
                                    <span class="date__day">3 Fév</span>
                                    <span class="data_period">24 jours · 48h</span>
                                </div>
                            </div>
                            <h5 class="article__title">
                                <a href="#">HTML5/CSS</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="a-slider__navigation">
                    <div class="prev"><i class="icon icon-navigation-left"></i></div>
                    <div class="next"><i class="icon icon-navigation-right"></i></div>
                </div>
            </div>
            <!-- <a href="#" class="link  w-full ml-[881px]">Explorez nos formations <i
                    class="icon icon-arrow-right"></i></a> -->
        </div>
        <a href="#" class="link w-full absolute justify-center z-5 text-[32px] font-degular font-bold gap-[32px]  mt-[70px] ml-[200px]">Explorez nos formations <i
            class="icon icon-arrow-right"></i></a>
    </div>
</section>