<section class="a-container mb-[56px] lg:mb-[140px]">
    <h4 class="text-center mx-auto font-gelica text-4xl xl:text-[64px] w-[350px] xl:w-[788px] leading-[40px] xl:leading-[72px] mb-4">
        <span class="text-mindaro">Développez</span> votre <span class="text-mindaro">business</span> avec nos services
    </h4>
    <p class="text-center text-lg xl:text-2xl leading-6 xl:leading-10 xl:w-[788px] 2xl:w-full xl:mx-auto mb-6 xl:mb-8">Explorez de nouveaux horizons,
        renforcez vos compétences et réalisez vos objectifs !
    </p>
    <div class="mx-[-20px] lg:mx-0 w-[calc(100%+40px)] lg:w-full pt-8 pb-4 mb-2 relative">
        <div class="slider-container a-slider a-slider--simple" data-config="simple">
            <!-- Slides -->
            <div class="slide">
                <div class="border border-white rdx40 pdx-40 relative">
                    <h5 class="font-gelica font-light text-2xl xl:text-[40px] leading-9 xl:leading-[68px] mb-3 xl:mb-5">Site web</h5>
                    <img src="./images/service-site-web-ordinateur_result.webp"
                         alt="service-site-web-ordinateur_result">
                    <div class="absolute bottom-[16px] left-[16px]">
                        <span class="inline-block lg:text-base">à partir</span>
                        <div class="flex justify-start items-center">
                            <span class="text-[26px] xl:text-[48px] leading-[35px] xl:leading-[64px] w-700">250€</span>
                            <span class="text-[8px] xl:text-[16px] leading-[8px] xl:leading-[16px] w-[17px] xl:w-[34px] ml-2 mt-1">Par mois</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="border border-white rdx40 pdx-40 relative">
                    <h5 class="font-gelica font-light text-2xl xl:text-[40px] leading-9 xl:leading-[68px] mb-3 xl:mb-5">Réseaux sociaux</h5>
                    <img src="./images/reseaux-sociaux-service_result.webp"
                         alt="service-site-web-ordinateur_result">
                    <div class="absolute bottom-[16px] left-[16px]">
                        <span class="inline-block lg:text-base">à partir</span>
                        <div class="flex justify-start items-center">
                            <span class="text-[26px] xl:text-[48px] leading-[35px] xl:leading-[64px] w-700">280€</span>
                            <span class="text-[8px] xl:text-[16px] leading-[8px] xl:leading-[16px] w-[17px] xl:w-[34px] ml-2 mt-1">Par mois</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="border border-white rdx40 pdx-40 relative">
                    <h5 class="font-gelica font-light text-2xl xl:text-[40px] leading-9 xl:leading-[68px] mb-3 xl:mb-5">App mobile V1</h5>
                    <img src="./images/service-application-mobile-v1_result.webp"
                         alt="service-site-web-ordinateur_result">
                    <div class="absolute bottom-[16px] left-[16px]">
                        <span class="inline-block lg:text-base">à partir</span>
                        <div class="flex justify-start items-center">
                            <span class="text-[26px] xl:text-[48px] leading-[35px] xl:leading-[64px] w-700">250€</span>
                            <span class="text-[8px] xl:text-[16px] leading-[8px] xl:leading-[16px] w-[17px] xl:w-[34px] ml-2 mt-1">Par mois</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="border border-white rdx40 pdx-40 relative">
                    <h5 class="font-gelica font-light text-2xl xl:text-[40px] leading-9 xl:leading-[68px] mb-3 xl:mb-5">Réseaux sociaux</h5>
                    <img src="./images/reseaux-sociaux-service_result.webp"
                         alt="service-site-web-ordinateur_result">
                    <div class="absolute bottom-[16px] left-[16px]">
                        <span class="inline-block lg:text-base">à partir</span>
                        <div class="flex justify-start items-center">
                            <span class="text-[26px] xl:text-[48px] leading-[35px] xl:leading-[64px] w-700">280€</span>
                            <span class="text-[8px] xl:text-[16px] leading-[8px] xl:leading-[16px] w-[17px] xl:w-[34px] ml-2 mt-1">Par mois</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="a-slider__navigation">
            <div class="prev hover_icon_arrow"><i class="icon icon-navigation-left"></i></div>
            <div class="next hover_icon_arrow"><i class="icon icon-navigation-right"></i></div>
        </div>
    </div>
    <a href="#" class="link w-full justify-center">
        Explorez nos formations
        <i class="icon icon-arrow-right"></i>
    </a>
</section>