<section class="a-container mb-[56px] xl:mb-[140px]">
    <div
        class=" xl:bg-services xl:bg-transparent xl:bg-[length:100%_100%] xl:bg-no-repeat w-full rounded-[40px] p-4 xl:p-10 xl:flex xl:justify-between">
        <img class="w-full xl:w-[42%] xl:max-w-[657px] pt-20 xl:pt-32 3xl:pb-0 mb-4 xl:mb-16 3xl:mb-4"
            src="./images/fille-call-center.webp" alt="femme-bureau-telephone_result">
        <div class="xl:w-1/2 xl:pt-5">
            <h4
                class="font-gelica text-6xl xl:text-[64px] xl:leading-[64px] 2xl:text-[64px] 2xl:leading-[72px] mb-2 2xl:mb-4 xl:ml-[-50px]">
                Notre service d’accompagnement</h4>
            <div style="width: 460px;">
                <p
                class="text-2xl xl:text-xl leading-6 xl:leading-8 xl:ml-[-50px] Degular-regular mb-12">Profitez de notre
                accompagnement complet de la création à la réalisation de vos projets professionnels.</p>
            </div>
            <ul>
                <li class="xl:inline-block xl:max-w-[460px] mb-10">
                    <h5 class="text-[22px] xl:text-[32px] flex items-center justify-start mb-2  xl:mb-4 font-semibold">
                        <i class="icon icon-chapeau-universite text-3 mr-6"></i>
                        Projet de formation
                    </h5>
                    <div style="width: 460px; height: 82px;">
                        <p class="text-xl  Degular-regular">
                            Choisissez en toute confiance la meilleure formation avec l’aide de notre équipe d’experts,
                            prête à répondre à toutes vos questions et besoins.
                        </p>
                    </div>

                </li>
                <li class="xl:inline-block xl:max-w-[460px] mb-10">
                    <h5 class="text-[22px] xl:text-[32px] flex items-center justify-start mb-2 xl:mb-4 font-semibold">
                        <i class="icon icon-ordinateur text-2xl mr-6"></i>
                        Construction de projet digital
                    </h5>
                    <div style="width: 460px; height: 82px;">
                        <p class="text-xl Degular-regular">
                            Choisissez en toute confiance la meilleure formation avec l’aide de notre équipe d’experts,
                            prête à répondre à toutes vos questions et besoins.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="xl:flex xl:items-center xl:justify-start">
                <a class="btn btn--black btn--with-icon mb-4 xl:mb-0" href="#">Écrivez-nous <i
                        class="icon icon-arrow-right"></i></a>
                <span class="hidden xl:inline-block xl:mx-4 xl:text-white">|</span>
                <p class="mb-8 xl:mb-0 flex items-center">
                    <img style="filter: invert(1);" class="pr-4" src="./images/telephone-icone.svg" alt="">
                    <span class="text-lg leading-6 ">Appelez-nous : 06 61 47 39 86</span>
                </p>
            </div>
        </div>
    </div>
</section>