<section class="a-container mb-[56px] lg:mb-[140px]">
    <div class="bg-[#c7e9e6] lg:bg-programme lg:bg-transparent lg:bg-contain lg:bg-no-repeat w-full rounded-[40px] p-4 lg:p-10 lg:flex lg:justify-between">
        <img class="w-full lg:w-[45%] lg:max-w-[735px] mb-4" src="./images/homme-femme-travailler_result.webp" alt="homme-femme-travailler_result">
        <div class="lg:w-1/2 lg:pt-5">
            <h4 class="font-gelica text-4xl lg:text-[42px] 3xl:text-[64px] lg:leading-[54px] 3xl:leading-[72px] text-black mb-2 lg:mb-4">Programme sur mesure</h4>
            <p class="text-black text-base lg:text-xl leading-6 lg:leading-8 mb-4">Vous êtes un organisme ou une école qui recherchez des cours personnalisés ?</p>
            <div class="lg:flex lg:items-center lg:justify-start">
                <a class="btn btn--black btn--with-icon mb-4 lg:mb-0" href="#">Écrivez-nous <i class="icon icon-arrow-right"></i></a>
                <span class="hidden lg:inline-block lg:mx-4 lg:text-black">|</span>
                <p class="text-black mb-8 lg:mb-0 flex items-center">
                    <!-- <i class="icon icon-phone-call text-2xl mr-2"></i> -->
                    <img class="pr-4" src="./images/telephone-icone.svg" alt="">
                    <span class="text-lg leading-6 ">Appelez-nous : 06 61 47 39 86</span>
                </p>
            </div>
        </div>
    </div>
</section>