<section class="a-container mb-[120px] lg:mb-[120px] h-fit">
    <div class="relative w-full">
        <img class="absolute z-0 top-[75px] left-[-47px] w-[1790px] h-[1349px] inline-block" src="./images/forme-detail-programme-formations.png" alt="forme-detail-programme-formations">
        <div class="mx-auto max-w-[1112px] bg-black relative z-1 mb-[160px] rounded-br-[48px]" >
            <ul
                    class="flex list-none flex-row flex-wrap pl-0 relative z-10"
                    id="tabs-tab3"
                    role="tablist"
                    data-te-nav-ref>
                <li role="presentation">
                    <a
                            href="#tabs-dev"
                            class="block px-[50px] pb-[23px] pt-[21px]  text-2xl hover:isolate  focus:isolate data-[te-nav-active]:bg-mindaro data-[te-nav-active]:rounded-ss-[25px] data-[te-nav-active]:rounded-se-[50px] data-[te-nav-active]:text-[#020F11]"
                            id="tabs-s-programme"
                            data-te-toggle="pill"
                            data-te-target="#tabs-programme"
                            data-te-nav-active
                            role="tab"
                            aria-controls="tabs-programme"
                            aria-selected="true"
                    >Programme</a>
                </li>
                <li role="presentation">
                    <a
                            href="#tabs-ux-ui"
                            class="block px-[50px] pb-[23px] pt-[21px] text-2xl hover:isolate  focus:isolate data-[te-nav-active]:bg-mindaro data-[te-nav-active]:rounded-ss-[25px] data-[te-nav-active]:rounded-se-[50px] data-[te-nav-active]:text-[#020F11]"
                            id="tabs-s-objectif"
                            data-te-toggle="pill"
                            data-te-target="#tabs-objectif"
                            role="tab"
                            aria-controls="tabs-objectif"
                            aria-selected="false"
                    >Objectif</a>
                </li>
            </ul>

            <!--Tabs content-->
            <div class="border border-[#253032]  rounded-tr-[48px] rounded-b-[48px] p-[50px] ">
                <div
                        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:flex data-[te-tab-active]:flex-col data-[te-tab-active]:items-center "
                        id="tabs-programme"
                        role="tabpanel"
                        data-te-tab-active
                        aria-labelledby="tabs-s-programme">
                    <div class="w-full mb-6">
                        <div class="rounded-[40px] border border-mindaro flex mb-6">
                            <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] pt-[52px] pb-[57px] pl-[53px]">
                                1
                            </p>
                            <div class="flex flex-wrap justify-between items-start w-full">
                                <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px] pt-10">
                                    <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                    Introduction
                                </h6>
                                <button
                                        class="mt-[58px] mr-[40px] group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                        type="button"
                                        data-te-collapse-init
                                        data-te-target="#collapse-1"
                                        aria-expanded="true"
                                        aria-controls="collapse-1">
                                    <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                    <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                </button>
                                <div
                                        id="collapse-1"
                                        class="!visible w-full duration-200 ease-in mt-10"
                                        data-te-collapse-item
                                        data-te-collapse-show
                                        aria-labelledby="headingOne"
                                        data-te-parent="#accordionExample">
                                    <ul class="opacity-70 pb-10">
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="rounded-[40px] border border-[#FFFFFF4D] flex items-">
                            <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70 pt-[52px] pb-[57px] pl-[53px]">
                                2
                            </p>
                            <div class="flex flex-wrap justify-between items-start w-full">
                                <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px] pt-10">
                                    <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                    Introduction
                                </h6>
                                <button
                                        class="mt-[58px] mr-[40px] group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                        type="button"
                                        data-te-collapse-init
                                        data-te-collapse-collapsed
                                        data-te-target="#collapse-2"
                                        aria-expanded="false"
                                        aria-controls="collapse-2">
                                        <div><i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                            <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i></div>
                                    
                                </button>
                                <div
                                        id="collapse-2"
                                        class="!visible hidden w-full duration-200 ease-in mt-10"
                                        data-te-collapse-item
                                        aria-labelledby="headingTwo"
                                        data-te-parent="#accordionExample">
                                    <ul class="opacity-70 pb-10">
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="rounded-[40px] border border-[#FFFFFF4D] flex  items- w-full mb-6">
                        <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70 pt-[52px] pb-[57px] pl-[53px]">
                            3
                        </p>
                        <div class="flex flex-wrap justify-between items-start w-full">
                            <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px] pt-10">
                                <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                Introduction
                            </h6>
                            <button
                                    class="mt-[58px] mr-[40px] group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                    type="button"
                                    data-te-collapse-init
                                    data-te-collapse-collapsed
                                    data-te-target="#collapse-3"
                                    aria-expanded="false"
                                    aria-controls="collapse-3">
                                <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                            </button>
                            <div
                                    id="collapse-3"
                                    class="!visible hidden w-full duration-200 ease-in mt-10"
                                    data-te-collapse-item
                                    aria-labelledby="headingTwo"
                                    data-te-parent="#accordionExample">
                                <ul class="opacity-70 pb-10">
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="rounded-[40px] border border-[#FFFFFF4D] flex  items- w-full mb-6">
                        <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70 pt-[52px] pb-[57px] pl-[53px]">
                            4
                        </p>
                        <div class="flex flex-wrap justify-between items-start w-full">
                            <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px] pt-10">
                                <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                Introduction
                            </h6>
                            <button
                                    class="mt-[58px] mr-[40px] group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                    type="button"
                                    data-te-collapse-init
                                    data-te-collapse-collapsed
                                    data-te-target="#collapse-4"
                                    aria-expanded="false"
                                    aria-controls="collapse-4">
                                <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                            </button>
                            <div
                                    id="collapse-4"
                                    class="!visible hidden w-full duration-200 ease-in mt-10"
                                    data-te-collapse-item
                                    aria-labelledby="headingTwo"
                                    data-te-parent="#accordionExample">
                                <ul class="opacity-70 pb-10">
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="rounded-[40px] border border-[#FFFFFF4D] flex items- w-full mb-6">
                        <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70 pt-[52px] pb-[57px] pl-[53px]">
                            5
                        </p>
                        <div class="flex flex-wrap justify-between items-start w-full">
                            <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px] pt-10">
                                <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                Introduction
                            </h6>
                            <button
                                    class="mt-[58px] mr-[40px] group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                    type="button"
                                    data-te-collapse-init
                                    data-te-collapse-collapsed
                                    data-te-target="#collapse-5"
                                    aria-expanded="false"
                                    aria-controls="collapse-5">
                                <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                            </button>
                            <div
                                    id="collapse-5"
                                    class="!visible hidden w-full duration-200 ease-in mt-10"
                                    data-te-collapse-item
                                    aria-labelledby="headingTwo"
                                    data-te-parent="#accordionExample">
                                <ul class="opacity-70 pb-10">
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="rounded-[40px] border border-[#FFFFFF4D] flex  items- w-full">
                        <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70 pt-[52px] pb-[57px] pl-[53px]">
                            6
                        </p>
                        <div class="flex flex-wrap justify-between items-start w-full">
                            <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px] pt-10">
                                <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                Introduction
                            </h6>
                            <button
                                    class="mt-[58px] mr-[40px] group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                    type="button"
                                    data-te-collapse-init
                                    data-te-collapse-collapsed
                                    data-te-target="#collapse-6"
                                    aria-expanded="false"
                                    aria-controls="collapse-6">
                                <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                            </button>
                            <div
                                    id="collapse-6"
                                    class="!visible hidden w-full duration-200 ease-in mt-10"
                                    data-te-collapse-item
                                    aria-labelledby="headingTwo"
                                    data-te-parent="#accordionExample">
                                <ul class="opacity-70 pb-10">
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                    <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div
                        class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:flex data-[te-tab-active]:flex-col data-[te-tab-active]:items-center "
                        id="tabs-objectif"
                        role="tabpanel"
                        aria-labelledby="tabs-s-objectif">
                        <div class="w-full mb-6">
                            <div class="rounded-[40px] border border-mindaro flex pt-[52px] pl-[53px] pb-10 pr-10 mb-6">
                                <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px]">
                                    1
                                </p>
                                <div class="flex flex-wrap justify-between items-start w-full">
                                    <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px]">
                                        <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                        Introduction
                                    </h6>
                                    <button
                                            class="group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                            type="button"
                                            data-te-collapse-init
                                            data-te-target="#collapse-1"
                                            aria-expanded="true"
                                            aria-controls="collapse-1">
                                        <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                        <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                    </button>
                                    <div
                                            id="collapse-1"
                                            class="!visible w-full duration-200 ease-in mt-10"
                                            data-te-collapse-item
                                            data-te-collapse-show
                                            aria-labelledby="headingOne"
                                            data-te-parent="#accordionExample">
                                        <ul class="opacity-70">
                                            <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                            <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                            <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                        </ul>
                                    </div>
    
                                </div>
                            </div>
                            <div class="rounded-[40px] border border-[#FFFFFF4D] flex p-10 items-">
                                <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70">
                                    2
                                </p>
                                <div class="flex flex-wrap justify-between items-start w-full">
                                    <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px]">
                                        <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                        Introduction
                                    </h6>
                                    <button
                                            class="group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                            type="button"
                                            data-te-collapse-init
                                            data-te-collapse-collapsed
                                            data-te-target="#collapse-2"
                                            aria-expanded="false"
                                            aria-controls="collapse-2">
                                        <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                        <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                    </button>
                                    <div
                                            id="collapse-2"
                                            class="!visible hidden w-full duration-200 ease-in mt-10"
                                            data-te-collapse-item
                                            aria-labelledby="headingTwo"
                                            data-te-parent="#accordionExample">
                                        <ul class="opacity-70">
                                            <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                            <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                            <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                        </ul>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="rounded-[40px] border border-[#FFFFFF4D] flex p-10 items- w-full mb-6">
                            <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70">
                                3
                            </p>
                            <div class="flex flex-wrap justify-between items-start w-full">
                                <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px]">
                                    <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                    Introduction
                                </h6>
                                <button
                                        class="group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                        type="button"
                                        data-te-collapse-init
                                        data-te-collapse-collapsed
                                        data-te-target="#collapse-3"
                                        aria-expanded="false"
                                        aria-controls="collapse-3">
                                    <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                    <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                </button>
                                <div
                                        id="collapse-3"
                                        class="!visible hidden w-full duration-200 ease-in mt-10"
                                        data-te-collapse-item
                                        aria-labelledby="headingTwo"
                                        data-te-parent="#accordionExample">
                                    <ul class="opacity-70">
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                        <div class="rounded-[40px] border border-[#FFFFFF4D] flex p-10 items- w-full mb-6">
                            <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70">
                                4
                            </p>
                            <div class="flex flex-wrap justify-between items-start w-full">
                                <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px]">
                                    <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                    Introduction
                                </h6>
                                <button
                                        class="group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                        type="button"
                                        data-te-collapse-init
                                        data-te-collapse-collapsed
                                        data-te-target="#collapse-4"
                                        aria-expanded="false"
                                        aria-controls="collapse-4">
                                    <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                    <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                </button>
                                <div
                                        id="collapse-4"
                                        class="!visible hidden w-full duration-200 ease-in mt-10"
                                        data-te-collapse-item
                                        aria-labelledby="headingTwo"
                                        data-te-parent="#accordionExample">
                                    <ul class="opacity-70">
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                        <div class="rounded-[40px] border border-[#FFFFFF4D] flex p-10 items- w-full mb-6">
                            <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70">
                                5
                            </p>
                            <div class="flex flex-wrap justify-between items-start w-full">
                                <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px]">
                                    <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                    Introduction
                                </h6>
                                <button
                                        class="group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                        type="button"
                                        data-te-collapse-init
                                        data-te-collapse-collapsed
                                        data-te-target="#collapse-5"
                                        aria-expanded="false"
                                        aria-controls="collapse-5">
                                    <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                    <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                </button>
                                <div
                                        id="collapse-5"
                                        class="!visible hidden w-full duration-200 ease-in mt-10"
                                        data-te-collapse-item
                                        aria-labelledby="headingTwo"
                                        data-te-parent="#accordionExample">
                                    <ul class="opacity-70">
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                        <div class="rounded-[40px] border border-[#FFFFFF4D] flex p-10 items- w-full">
                            <p class="flex flex-col font-medium font-degular text-[36px] leading-33px mr-[55px] opacity-70">
                                6
                            </p>
                            <div class="flex flex-wrap justify-between items-start w-full">
                                <h6 class="font-gelica Gelica-regular text-[32px] leading-[33px]">
                                    <span class="block mb-1 font-degular text-2xl text-[#9A9FA0]">mar. 2 jan · 9h - 11h</span>
                                    Introduction
                                </h6>
                                <button
                                        class="group relative h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-[10px] duration-100 hover:bg-white hover:text-black [&:not([data-te-collapse-collapsed])]:border-white"
                                        type="button"
                                        data-te-collapse-init
                                        data-te-collapse-collapsed
                                        data-te-target="#collapse-6"
                                        aria-expanded="false"
                                        aria-controls="collapse-6">
                                    <i class="icon icon-minus text-base group-[[data-te-collapse-collapsed]]:hidden"></i>
                                    <i class="icon icon-plus text-base hidden group-[[data-te-collapse-collapsed]]:inline-block "></i>
                                </button>
                                <div
                                        id="collapse-6"
                                        class="!visible hidden w-full duration-200 ease-in mt-10"
                                        data-te-collapse-item
                                        aria-labelledby="headingTwo"
                                        data-te-parent="#accordionExample">
                                    <ul class="opacity-70">
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des réseaux</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Fondamentaux des systèmes Linux & Windows</li>
                                        <li class="text-2xl mb-2 flex items-center"><i class="icon icon-chevron-bottom rotate-[270deg] text-[10px] mt-1 mr-2 inline-block"></i>Programmation et scripting</li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
