<section class="fl_col gp40">
    <div class="fl_col txt_center txt_white gp35">
        <div class="fl_col gp15">
            <p class="p40">S’inscrire</p>
            <p class="p16">Renseignez vos informations pour créer votre compte</p>
        </div>
        <button class="btn btn-icon btn-light">
            <img src="./images/google-icon.svg" alt="">
            <p class="p16">Connexion avec Google</p>
        </button>
    </div>
    <div class="_diver"></div>
    <form>
        <div class="form-wrapper inp_style fl_col gp15">
            <div class="fl_row gp15">
                <div class="inp_col input-box inactive">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" placeholder="" class="input-with-behavior">
                </div>
                <div class="inp_col input-box inactive">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" placeholder="" class="input-with-behavior">
                </div>
            </div>
            <div class="fl_col gp15 ">
                <div class="inp_col input-box inactive">
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="" class="input-with-behavior">
                </div>
                <div class="inp_col input-box inactive inp-icon">
                    <img class="show_pw" src="./images/eye-svgrepo-com.svg" alt="show/hide password">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" placeholder="" class="input-with-behavior">
                </div>
            </div>
            <a class="p13 pd20-r-l txt_grey" href="/reset-password.html"><u>Mot de passe oublié ?</u></a>
            <button class="btn btn-primary">Se connecter</button>
        </div>
    </form>
    <p class="p15 txt_grey txt_center">Déjà un compte? <a class="txt_primary" href="/login.html">Se connecter</a></p>
    <div class="_diver"></div>
    <button class="btn btn-yellow">Vous êtes un formateur? <span class="w-700">C'est par ici</span></button>

    <script>

    </script>
</section>