<section class="a-container mb-[156px] lg:mb-[240px]">
    <div class="lg:flex justify-between items-center mb-16 mt-[41px]">
        <h4 class="font-gelica font-light text-4xl lg:text-[72px] leading-[40px] lg:leading-[85px] w-full">
            Rencontrez nos <span class="text-mindaro">formateurs</span>
        </h4>
    </div>
    <div class="lg:mx-[-47px] lg:w-[1800px] lg:p-[47px] lg:py-0 relative">
        <img class="rounded-[60px] bg-mindaro 2xl:bg-transparent 2xl:rounded-none inline-block absolute z-0 top-[74px] left-0 w-full h-full" src="./images/forme-tous-formateurs-vert.svg" alt="formateurs-desktiop-bg">        <!--Tabs navigation-->
        <div class="flex flex-wrap wrap relative z-1 gap-8">
            <div class="formatter formatter--horz border-[#253032]">
                <a href="#" class="formatter__img">
                    <img src="./images/4-formateur_result copy.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/4-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/4-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
           
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="bg-interrogations-blue w-[400px] h-[589px] bg-no-repeat lg:bg-[length:100%_100%]">
                <div class="p-8 pr-[120px] mb-[50px]">
                    <h5 class="font-gelica font-light text-[32px] leading-[40px] mb-6">Des interrogations ou des besoins particuliers ?</h5>
                    <p class="text-xl leading-5 mb-10">Nous sommes à votre écoute.</p>
                    <img class="w-[153px] ml-3" src="./images/fleche-interrogations-violet-1.png" alt="fleche-interrogations_result">
                </div>
                <div class="pr-14 text-right">
                    <p class="mr-4 mb-2 text-xl leading-6">Appelez-nous au :</p>
                    <p class="text-[18px] leading-5 text-corn-flower flex items-center justify-end">
                        <i class="icon icon-phone-call text-base mr-2"></i>
                        06 61 47 39 86
                    </p>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
            <div class="formatter formatter--horz">
                <a href="#" class="formatter__img">
                    <img src="./images/2-formateur_result.webp" alt=""/>
                </a>
                <div class="formatter__infos-group">
                    <div class="infos">
                        <h5 class="infos__name">
                            <a href="#">Marine</a>
                        </h5>
                        <p class="infos__desc">Senior développeur web</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative z-1 text-black mt-10">
            <div class="flex justify-center items-center gap-[29px]">
                <!-- for disabled arrow : add "opacity-30 pointer-events-none" classes -->
                <a href="#" class="pointer-events-none cursor-default "><i class="icon icon-navigation-left-carre black opacity-30 "></i></a>

                <div class="inline-flex justify-between gap-2">
                    <!-- for selected page : add "bg-black text-white pointer-events-none" classes -->
                    <a href="#" class="font-degular font-semibold rounded-full text-2xl inline-flex h-[40px] w-[40px] bg-black text-white pointer-events-none items-center justify-center pb-1" >1</a>

                    <a href="#" class="font-degular font-semibold rounded-full text-2xl inline-flex justify-center items-center h-[40px] w-[40px]" >2</a>
                </div>

                <a href="#"><i class="icon icon-navigation-right-carre black hover:bg-[#020F11] hover:text-[#FFFFFF]"></i></a>
            </div>
        </div>
        <p class="text-center text-base text-black relative mt-4 font-semibold font-degular">
            <span class="font-semibold">10</span> formations sur 33
        </p>
    </div>
</section>