<section class="fl_col gp40">
    <div class="fl_col txt_center txt_white gp40">
        <div class="fl_col gp20">
            <p class="p40">Réinitialiser mot de passe</p>
            <p class="p16">Saisissez l’email associé à votre compte Aideprojet, nous vous enverrons un e-mail avec les
                instructions pour changer votre mot de passe.</p>
        </div>
    </div>
    <form>
        <div class="form-wrapper fl_col gp15">
            <div class="fl_col gp15 inp_style">
                <div class="inp_col input-box inactive">
                    <label for="">Email</label>
                    <input type="text" placeholder="" class="input-with-behavior">
                </div>
            </div>
            <button class="btn btn-primary">
                Réinitialiser mot de passe
            </button>
        </div>
    </form>
</section>