<section class="a-container mb-[56px] lg:mb-[141px]">
    <h4 class="text-center mx-auto font-gelica text-4xl lg:text-[72px] w-3/4 lg:w-[930px] leading-[40px] lg:leading-[80px] mb-8 lg:mb-[125px]">
        Découvrez nos <span class="text-mindaro">solutions</span> pour répondre à vos besoins
    </h4>
    <div class="w-full md:flex md:flex-wrap md:justify-center lg:justify-between relative">
        <div class="lg:w-[39.18%]">
            <div class="relative">
                <img src="./images/garcon-ordinateur-formations.png" alt="garcon">
                <div class="absolute top-[24px] lg:top-[40px] left-[16px] lg:left-[40px]">
                    <h5 class="font-gelica text-2xl leading-6 mb-2 px48">Formations</h5>
                    <p class="w-[346px] text-sm px24 mb-4">Acquérez les compétences nécessaires pour exceller dans le monde numérique en suivant nos formations.</p>
                    <a class="yellow_hover text-sm px-5 p-2.5 inline-block text-mindaro border border-mindaro rounded-[14px]" href="#">Explorez nos formations</a>
                </div>
            </div>
        </div>
        <div class="lg:w-[33.19%] lg:absolute lg:translate-x-[-53%] lg:left-1/2 lg:top-[-60px]">
            <div class="relative">
                <img src="./images/femme-tablette-services.png" alt="femme">
                <div class="absolute top-[24px] lg:top-[40px] left-[16px] lg:left-[40px]">
                    <h5 class="font-gelica text-2xl leading-6 mb-2 px48">Services</h5>
                    <p class="w-[346px] text-sm px24 mb-4">Développez votre business avec nos services, de la création à la réussite.</p>
                    <a href="#" class="pink_hover text-sm px-5 p-2.5 inline-block text-corn-flower border border-corn-flower rounded-[14px]">Découvrir nos services</a>
                </div>
            </div>
        </div>
        <div class="lg:w-[30.67%]">
            <div class="relative">
                <img src="./images/homme-contact-accompagnement.png" alt="homme">
                <div class="absolute top-[77px] lg:top-[120px] left-[16px] lg:left-[40px]">
                    <h5 class="font-gelica text-2xl leading-6 mb-2 px48">Accompagement</h5>
                    <p class="w-[346px] text-sm px24 mb-4">Services Digitaux personnalisés, de la création à l’optimisation</p>
                    <a href="#" class="white_hover text-sm px-5 p-2.5 inline-block text-jagged-ice border border-jagged-ice rounded-[14px]">Nous contacter</a>
                </div>
            </div>

        </div>
    </div>
</section>