<section class="a-container mb-[20px] xl:mb-[40px] mt-6 lg:mt-10">
    <div class="max-w-[1112px]">
        <h4 class="font-gelica text-4xl xl:text-[72px] leading-[40px] xl:leading-[72px] mb-4">
            UX Designer
        </h4>
        <p class="text-xl lg:text-2xl leading-6	lg:leading-8">
            Maitrisez les compétences avancées de la création d’interfaces web dynamiques et propulsez votre carrière vers de nouveaux sommets technologiques.
        </p>
    </div>
    <div class="relative xl:mt-[-50px]">
        <img class="absolute left-0 top-[calc(50%-25px)] translate-y-[-50%]" src="./images/bg-ux-designer.png" alt="ux-designer">
        <div class="flex justify-start items-end">
            <div class="flex justify-between items-center bg-black w-[calc(100%-544px)] px-[40px] py-[31px] border border-white rounded-[40px] mr-8 relative z-10">
                <div class="flex lg:items-center">
                    <img class="w-[82px] h-[82px] rounded-full mr-5" src="./images/formation12_result.webp" alt="formation12_result">
                    <div class="flex flex-col justify-between h-[82px]">
                        <h5 class="text-[32px] font-semibold leading-[41px]">Vincent</h5>
                        <p class="text-2xl">Analyste en cybersécurité</p>
                    </div>
                </div>
                <div class="flex">
                    <a href="#" class="group h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-xl hover:bg-white hover:border-white mr-4">
                        <i class="icon icon-partager text-base group-hover:text-black"></i>
                    </a>
                    <a href="#" class="group h-[40px] w-[40px] flex items-center justify-center border border-[#FFFFFF4D] rounded-xl hover:bg-white hover:border-white active:border-corn-flower active:bg-corn-flower active:text-white">
                        <i class="icon icon-favoris text-2xl group-hover:text-black group-active:hidden"></i>
                        <i class="icon icon-favoris-active hidden text-2xl group-active:inline"></i>
                    </a>
                </div>
            </div>
            <div class="relative">
                <div class="w-[544px] border border-mindaro bg-black rounded-[40px] p-8 pb-0 relative z-10">
                    <p class="font-semibold text-[32px] leading-[37px] mb-4">
                        <span class="text-base font-normal leading-6 mb-2 block">Date de début</span>
                        2 jan - 27 fév
                    </p>
                    <div class="px-8 py-4 h-[80px] flex justify-start items-center border border-[#FFFFFF4D] rounded-3xl">
                        <div>
                            <p class="text-base leading-6">Séances</p>
                            <p class="text-2xl font-semibold">30</p>
                        </div>
                        <div class="h-[30px] w-[1px] bg-[#FFFFFF4D] mr-8 ml-16"></div>
                        <div>
                            <p class="text-base leading-6">Durée :</p>
                            <p class="text-2xl font-semibold">48 jours (96 heures)</p>
                        </div>
                    </div>
                    <div class="px-8 py-4 h-[80px] flex justify-between items-center border border-[#FFFFFF4D] rounded-3xl border-t-0 mb-6">
                        <div>
                            <p class="text-2xl">Langue</p>
                        </div>
                        <div class="flex items-baseline">
                            <img class="h-[21px] w-[21px] mr-2 inline-block" src="./images/fr-flag.svg" alt="fr flag">
                            <p class="text-2xl font-semibold inline-block">Français</p>
                        </div>
                    </div>
                    <div class="flex justify-between items-baseline mb-8">
                        <p class="text-2xl">Prix :</p>
                        <p class="font-bold text-[40px] leading-[53px]">14 500 €</p>
                    </div>
                    <a href="#" class="btn btn--primary w-full mb-10">S’inscrire au cours</a>
                    <div class="w-[544px] border border-corn-flower rounded-[40px] mx-[-33px] mb-[-1px] p-8">
                        <p class="text-[32px] leading-[37px] mb-4">
                            Démarrer plus tard
                        </p>
                        <div class="border rounded-3xl mb-4">
                            <div class="flex justify-between items-center border-b border-[#FFFFFF4D] px-8 pt-2 h-[86px]">
                                <p class="font-semibold text-2xl leading-8">11 mar - 15 avr</p>
                                <a href="#" class="btn btn--primary btn--small">S’inscrire au cours</a>
                            </div>
                            <div class="flex justify-between items-center px-8 h-[86px]">
                                <div class="flex lg:items-center">
                                    <div class="relative w-[40px] h-[40px] mr-3">
                                        <img class="w-full  rounded-full" src="./images/formation12_result.webp" alt="formation12_result">
                                        <img class="absolute right-0 bottom-0 h-[16px] w-[16px]" src="./images/eng-flag.svg" alt="eng flag">
                                    </div>
                                    <div>
                                        <h5 class="text-base font-medium leading-[21px]">Vincent</h5>
                                        <p class="text-[12px] leading-4">Ingénieur informatique — <span class="font-bold">Cours en Anglais</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-3xl mb-4">
                            <div class="flex justify-between items-center border-b border-[#FFFFFF4D] px-8 pt-2 h-[86px]">
                                <p class="font-semibold text-2xl leading-8">22 avr - 24 juin</p>
                                <a href="#" class="btn btn--primary btn--small">S’inscrire au cours</a>
                            </div>
                            <div class="flex justify-between items-center px-8 h-[86px]">
                                <div class="flex lg:items-center">
                                    <div class="relative w-[40px] h-[40px] mr-3">
                                        <img class="w-full  rounded-full" src="./images/formation13_result.webp" alt="formation12_result">
                                        <img class="absolute right-0 bottom-0 h-[16px] w-[16px]" src="./images/fr-flag.svg" alt="fr flag">
                                    </div>
                                    <div>
                                        <h5 class="text-base font-medium leading-[21px]">Marine</h5>
                                        <p class="text-[12px] leading-4">Ingénieur informatique — <span class="font-bold">Cours en Anglais</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn--white w-full" href="#">Consulter plus de dates</a>
                    </div>
                </div>

                <!--  yellow block   -->
                <div class="rounded-[40px] w-[447px] h-[534px] bg-mindaro absolute z-[-1px] top-[-50px] right-[-50px]"></div>
            </div>

        </div>
    </div>
</section>