<section class="a-container flex flex-wrap justify-between pt-[30px] lg:pt-[95px] mb-[56px] lg:mb-[140px]">
    <h4 class="font-gelica text-[40px] lg:text-[70px] leading-[40px] lg:leading-[85px] w-full lg:w-1/2 mb-4 lg:mb-0">
        Transformez votre vision en <span class="text-mindaro">Réalité Numérique</span>
    </h4>
    <p class="text-xl lg:text-[32px]  leading-[26px] lg:leading-[40px] lg:py-[33.5px] w-full lg:w-1/2 lg:pl-[107px]">
        Maîtrisez des compétences digitales de pointe et faites évoluer vos projets avec notre gamme de services
        digitaux de qualité supérieure.
    </p>
    <div class="w-full flex justify-end mt-10 lg:mt-16 lg:mx-[-37px] lg:w-[calc(100%+74px)]">
        <picture>
            <source media="(max-width:650px)" srcset="./images/femme-au-telephone-travailler-mobile.png">
            <source media="(min-width:650px)" srcset="./images/femme-au-telephone-travailler-desktop.png">
            <img class="w-full max-w-full" src="./images/femme-au-telephone-travailler-desktop.png" alt="femme" />
        </picture>
    </div>
</section>