.select {
  $parent: &;

  @apply inline-flex justify-between items-center bg-transparent border-white border rounded-2xl cursor-pointer relative transition-all duration-200 z-10;
  min-width: 211px;
  padding: 18px 14px 18px 24px;
  font-size: 18px;
  line-height: 20px;

  &:hover {
    border-color: #FFFFFF80;

    &:not(#{$parent}--for-input) {
      .icon {
        @apply bg-white text-black;
      }
    }
  }

  .icon-chevron-bottom {
    @apply inline-flex justify-center items-center transition-all duration-200;
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 9px;

    &:before {
      @apply transition-transform duration-200;
    }
  }

  &__options {
    @apply hidden absolute bg-white rounded-2xl z-10;
    width: 100%;
    min-width: 211px;
    padding: 18px 24px;
    top: calc(100% + 8px);
    left: 0;
  }

  &--for-input {
    @apply h-[55px] w-full min-w-0 text-lg bg-transparent border border-r-0 border-white text-white rounded-l-2xl rounded-r-none opacity-80;
    padding: 21px 0 21px 15px;

    #{$parent} {
      &__options {
        @apply min-w-0;
      }
    }
  }

  // states
  &.open {
    @apply bg-white text-black;

    &:not(#{$parent}--for-input) {
      .icon {
        @apply bg-corn-flower;
      }
    }
    .icon-chevron-bottom {
      &:before {
        @apply rotate-180;
      }
    }

    #{$parent} {
      &__options {
        @apply inline-block
      }
    }
  }
}

.checkbox {
  @apply flex justify-start items-center font-medium text-lg text-black cursor-pointer;
  input {
    @apply appearance-none inline-flex justify-center items-center rounded-md border border-black bg-transparent mr-3;
    height: 24px;
    width: 24px;

    &:checked {
      @apply border-none bg-corn-flower;

      &:after {
        content: "";
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIyLjg4MXB4IiBoZWlnaHQ9Ijg5Ljg0MnB4IiB2aWV3Qm94PSIwIDAgMTIyLjg4MSA4OS44NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMi44ODEgODkuODQyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMS4yMzIsNTUuNTQxYy0xLjUzMy0xLjM4OC0xLjY1Mi0zLjc1Ni0wLjI2NS01LjI4OWMxLjM4OC0xLjUzNCwzLjc1Ni0xLjY1Miw1LjI5LTAuMjY1bDM0LjA1MywzMC44NzhsNzYuMDk5LTc5LjY5OSBjMS40MjktMS41MDEsMy44MDQtMS41NjEsNS4zMDUtMC4xMzJjMS41MDIsMS40MjgsMS41NjEsMy44MDMsMC4xMzMsNS4zMDVMNDMuMjIzLDg4LjY4M2wtMC4wMDUtMC4wMDUgYy0xLjM5NiwxLjQ2OC0zLjcxNiwxLjU2My01LjIyNywwLjE5NkwxLjIzMiw1NS41NDFMMS4yMzIsNTUuNTQxeiIvPjwvZz48L3N2Zz4=");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        display: inline-block;
      }
    }
  }
}